Repository waku-py/waku: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, lint, typecheck

.pre-commit-config.yaml:

# Pre-commit configuration for waku
# See https://pre-commit.com for more information
default_install_hook_types: [ pre-commit, pre-push, commit-msg ]
default_stages: [ pre-commit, pre-push, manual ]

# TODO: Run pre-commit in CI, use lefthook for local checks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args: [ '--branch', 'master' ]

      - id: check-yaml
        args: [ '--unsafe' ]
        files: \.(yaml|yml)$

      - id: check-toml
        files: \.toml$

      - id: check-merge-conflict

      - id: end-of-file-fixer
        exclude: '^uv\.lock$'

      - id: trailing-whitespace
        args: [ --markdown-linebreak-ext=md ]

      - id: mixed-line-ending
        args: [ --fix=lf ]

      - id: check-case-conflict

      - id: detect-private-key

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies: [ tomli ]
        exclude: '^uv\.lock$'
        args:
          - --skip="*.lock"
        files: \.(py|md|rst|yml|yaml|json)$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.0
    hooks:
      - id: check-github-workflows
        files: ^\.github/workflows/.*\.ya?ml$

      - id: check-renovate
        files: ^\.github/renovate\.json$

  - repo: local
    hooks:
      - id: commit-msg
        name: check commit message
        stages: [ commit-msg ]
        language: system
        entry: gitlint --msg-filename
        fail_fast: true

      - id: uv-lock-check
        name: uv-lock-check
        entry: uv lock --locked
        language: system
        pass_filenames: false
        files: '^pyproject\.toml$'
        fail_fast: true

      - id: lint
        name: Run code linting
        entry: task lint -- --output-format=concise
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-commit, pre-push ]

      - id: typecheck
        name: Run type checking
        entry: env MYPY_PRETTY=0 task typecheck
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push ]  # Run on push only to speed up commits

      - id: deptry
        name: Check dependency usage
        entry: task deptry
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push ]  # Run on push only to speed up commits

      - id: security-check
        name: Run security checks
        entry: task security-audit
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push ]  # Run on push only to speed up commits
        verbose: true

exclude: |
  (?x)^(
    \.venv/.*|
    dist/.*|
    build/.*|
    \.*_cache/.*|
    \.git/.*|
    \.idea/.*
  )$

chore: update dev environment configs
  .gitignore
  .pre-commit-config.yaml
  Taskfile.yml
Due: none

docs: setup mkdocs and improve documentation
  CONTRIBUTING.md
  README.md
  docs/__init__.py
  docs/changelog.md
  docs/code/basic.py
  docs/code/mediator.py
  docs/contributing.md
  docs/examples/basic.md
  docs/examples/mediator.md
  docs/index.md
  docs/reference.md
  examples/__init__.py
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: uv-lock-check, lint, typecheck

chore: set fetch-depth to 0 in docs deploy action
  .github/workflows/deploy-docs.yml
Due: none

feat: add ability to pass custom context to dependency provider
  .github/workflows/validate.yml
  src/waku/container.py
  src/waku/di/_providers.py
  src/waku/di/contrib/aioinject.py
  tests/mock.py
Due: lint, typecheck

Deployed 54183e5 with MkDocs version: 1.6.1
  changelog/index.html
  contributing/index.html
  examples/basic/index.html
  examples/mediator/index.html
  index.html
  reference/index.html
Due: none

chore(release): 0.4.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

docs: add basic modules and providers docs
  .github/workflows/validate.yml
  docs/LICENSE
  docs/extensions/lifecycle.md
  docs/extensions/validation.md
  docs/includes/abbreviations.md
  docs/usage/cqrs.md
  docs/usage/dp.md
  docs/usage/modules.md
  docs/usage/quickstart.md
  mkdocs.yml
  pyproject.toml
Due: uv-lock-check

Deployed 8b22301 with MkDocs version: 1.6.1
  LICENSE
  changelog/index.html
  contributing/index.html
  examples/basic/index.html
  examples/mediator/index.html
  extensions/lifecycle/index.html
  extensions/validation/index.html
  index.html
  reference/index.html
  search/search_index.json
  usage/cqrs/index.html
  usage/dp/index.html
  usage/modules/index.html
  usage/quickstart/index.html
Due: none

chore: ignore docs dir in test discovery
  pyproject.toml
Due: uv-lock-check

chore: fix heading section in readme
  README.md
Due: none

Deployed 1a0e0f4 with MkDocs version: 1.6.1
  index.html
  search/search_index.json
Due: none

chore: get rid of microframework in project description
  pyproject.toml
Due: uv-lock-check

chore(deps): set deps versions in pyproject.toml according to lock file
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat(mediator): simplify cqrs handlers registration (#105)
  docs/code/examples/mediator.py
  docs/code/examples/modularity.py
  docs/examples/mediator.md
  docs/examples/modularity.md
  gitlint_plugins.py
  src/waku/container.py
  src/waku/extensions.py
  src/waku/mediator/__init__.py
  src/waku/mediator/modules.py
Due: lint, typecheck

feat(mediator): simplify cqrs handlers registration (#105) (#107)
  docs/code/examples/mediator.py
  docs/code/examples/modularity.py
  docs/examples/mediator.md
  docs/examples/modularity.md
  gitlint_plugins.py
  src/waku/container.py
  src/waku/extensions.py
  src/waku/mediator/__init__.py
  src/waku/mediator/modules.py
Due: lint, typecheck

Deployed 65fa07d with MkDocs version: 1.6.1
  code/examples/mediator.py
  code/examples/modularity.py
  examples/mediator/index.html
  examples/modularity/index.html
  objects.inv
  reference/index.html
  search/search_index.json
Due: lint, typecheck

chore(release): 0.5.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

docs(di): expand di documentation (#111)
  README.md
  docs/code/__init__.py
  docs/code/di/__init__.py
  docs/code/di/injecting.py
  docs/code/di/manual_di.py
  docs/code/di/scopes/__init__.py
  docs/code/di/scopes/object.py
  docs/code/di/scopes/scoped.py
  docs/code/di/scopes/singleton.py
  docs/code/di/scopes/transient.py
  docs/code/examples/__init__.py
  docs/code/examples/mediator.py
  docs/code/examples/modularity.py
  docs/code/getting_started/__init__.py
  docs/code/getting_started/greetings/__init__.py
  docs/code/getting_started/users/__init__.py
  docs/includes/abbreviations.md
  docs/overview.md
  docs/usage/dependency-injection.md
  docs/usage/lifespan.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: uv-lock-check, lint, typecheck

Deployed 887e76f with MkDocs version: 1.6.1
  404.html
  changelog/index.html
  code/__init__.py
  code/di/__init__.py
  code/di/injecting.py
  code/di/manual_di.py
  code/di/scopes/__init__.py
  code/di/scopes/object.py
  code/di/scopes/scoped.py
  code/di/scopes/singleton.py
  code/di/scopes/transient.py
  code/examples/__init__.py
  code/examples/mediator.py
  code/examples/modularity.py
  code/getting_started/__init__.py
  code/getting_started/greetings/__init__.py
  code/getting_started/users/__init__.py
  development/contributing/index.html
  development/docs/index.html
  examples/mediator/index.html
  examples/modularity/index.html
  getting-started/index.html
  integrations/asgi/index.html
  integrations/litestar/index.html
  license/index.html
  overview/index.html
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  usage/dependency-injection/index.html
  usage/extensions/index.html
  usage/lifespan/index.html
  usage/mediator/index.html
  usage/modules/index.html
Due: lint, typecheck

docs: slightly reorganize documentation (#19)
  docs/getting-started.md
  docs/index.md
  docs/license.md
  mkdocs.yml
Due: none

Deployed fe8220a with MkDocs version: 1.6.1
  404.html
  changelog/index.html
  development/contributing/index.html
  development/docs/index.html
  examples/mediator/index.html
  examples/modularity/index.html
  getting-started/index.html
  index.html
  integrations/asgi/index.html
  integrations/litestar/index.html
  license/index.html
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  usage/dependency-injection/index.html
  usage/extensions/index.html
  usage/extensions/validation/index.html
  usage/lifespan/index.html
  usage/mediator/index.html
  usage/modules/index.html
Due: none

docs: rename development section to contributing (#19)
  CONTRIBUTING.md
  docs/contributing/docs.md
  docs/contributing/index.md
  mkdocs.yml
Due: none

Deployed 08ec5f5 with MkDocs version: 1.6.1
  404.html
  changelog/index.html
  contributing/docs/index.html
  contributing/index.html
  examples/mediator/index.html
  examples/modularity/index.html
  getting-started/index.html
  index.html
  integrations/asgi/index.html
  integrations/litestar/index.html
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  usage/dependency-injection/index.html
  usage/extensions/index.html
  usage/extensions/validation/index.html
  usage/lifespan/index.html
  usage/mediator/index.html
  usage/modules/index.html
Due: none

docs: rename di section to providers, improve its contents (#111)
  docs/code/di/scopes/object.py
  docs/code/di/scopes/scoped.py
  docs/code/di/scopes/singleton.py
  docs/code/di/scopes/transient.py
  docs/code/providers/__init__.py
  docs/code/providers/injecting.py
  docs/code/providers/manual_di.py
  docs/code/providers/scopes/__init__.py
  docs/code/providers/scopes/object.py
  docs/code/providers/scopes/scoped.py
  docs/code/providers/scopes/singleton.py
  docs/code/providers/scopes/transient.py
  docs/getting-started.md
  docs/usage/modules.md
  docs/usage/providers.md
  mkdocs.yml
Due: lint, typecheck

Deployed f63c936 with MkDocs version: 1.6.1
  404.html
  changelog/index.html
  code/di/scopes/object.py
  code/di/scopes/scoped.py
  code/di/scopes/singleton.py
  code/di/scopes/transient.py
  code/providers/__init__.py
  code/providers/injecting.py
  code/providers/manual_di.py
  code/providers/scopes/__init__.py
  code/providers/scopes/object.py
  code/providers/scopes/scoped.py
  code/providers/scopes/singleton.py
  code/providers/scopes/transient.py
  contributing/docs/index.html
  contributing/index.html
  examples/mediator/index.html
  examples/modularity/index.html
  getting-started/index.html
  index.html
  integrations/asgi/index.html
  integrations/litestar/index.html
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  usage/extensions/index.html
  usage/extensions/validation/index.html
  usage/lifespan/index.html
  usage/mediator/index.html
  usage/modules/index.html
  usage/providers/index.html
Due: lint, typecheck

fix: change links to di docs in readme
  README.md
Due: none

Deployed 0bf7086 with MkDocs version: 1.6.1
  index.html
  reference/index.html
  search/search_index.json
Due: none

feat: add more info to provider validation error messages (#113)
  src/waku/di/_providers.py
  src/waku/ext/validation/rules.py
  tests/validation/test_dependencies_accessible.py
  tests/validation/test_scope_mismatch.py
Due: lint, typecheck

Deployed 9dced06 with MkDocs version: 1.6.1
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

chore(release): 0.6.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

chore: set minimal uv version to 0.6.11
  pyproject.toml
Due: uv-lock-check

chore(ci): fix security-audit task
  Taskfile.yml
Due: none

feat: rename application to waku
  README.md
  docs/code/examples/mediator.py
  docs/code/examples/modularity.py
  docs/code/getting_started/application.py
  docs/code/providers/scopes/object.py
  docs/code/providers/scopes/scoped.py
  docs/code/providers/scopes/singleton.py
  docs/code/providers/scopes/transient.py
  docs/getting-started.md
  docs/integrations/asgi.md
  docs/integrations/litestar.md
  docs/usage/providers.md
  src/waku/__init__.py
  src/waku/application.py
  src/waku/container.py
  src/waku/contrib/asgi.py
  src/waku/contrib/litestar.py
  src/waku/ext/validation/_extension.py
  src/waku/ext/validation/rules.py
  src/waku/extensions.py
  src/waku/factory.py
  src/waku/lifespan.py
  tests/test_application.py
  tests/validation/test_dependencies_accessible.py
  tests/validation/test_scope_mismatch.py
Due: lint, typecheck

Deployed 12c9cd8 with MkDocs version: 1.6.1
  404.html
  changelog/index.html
  code/examples/mediator.py
  code/examples/modularity.py
  code/getting_started/application.py
  code/providers/scopes/object.py
  code/providers/scopes/scoped.py
  code/providers/scopes/singleton.py
  code/providers/scopes/transient.py
  contributing/docs/index.html
  contributing/index.html
  examples/mediator/index.html
  examples/modularity/index.html
  getting-started/index.html
  index.html
  integrations/asgi/index.html
  integrations/litestar/index.html
  objects.inv
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  usage/extensions/index.html
  usage/extensions/validation/index.html
  usage/lifespan/index.html
  usage/mediator/index.html
  usage/modules/index.html
  usage/providers/index.html
Due: lint, typecheck
