Repository waku-py/waku: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, lint, typecheck-mypy, typecheck-ty

.pre-commit-config.yaml:

# Pre-commit configuration for waku
# See https://pre-commit.com for more information
default_install_hook_types: [ pre-commit, pre-push, commit-msg ]
default_stages: [ pre-commit, pre-push, manual ]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args: [ "--branch", "master" ]
      - id: check-yaml
        args: [ "--unsafe" ]
        files: '\.(yaml|yml)$'
      - id: check-toml
        files: '\.toml$'
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: '^uv\.lock$'
      - id: trailing-whitespace
        args: [ "--markdown-linebreak-ext=md" ]
      - id: detect-private-key
      - id: check-illegal-windows-names
      - id: mixed-line-ending
        args: [ "--fix=lf" ]
      - id: check-case-conflict

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.0
    hooks:
      - id: check-github-workflows
        files: '^\.github/workflows/.*\.ya?ml$'
      - id: check-renovate
        files: '^\.github/renovate\.json$'
      - id: check-taskfile
        files: '^Taskfile\.yml$'

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies: [ tomli ]
        files: '\.(py|pyi|md|yml|yaml|json|toml)$'

  - repo: local
    hooks:
      - id: commit-msg
        name: check commit message
        stages: [ commit-msg ]
        language: system
        entry: task gitlint -- --msg-filename
        fail_fast: true

      - id: uv-lock-check
        name: uv-lock-check
        entry: uv lock --locked
        language: system
        pass_filenames: false
        files: '^pyproject\.toml$'
        fail_fast: true

      - id: lint
        name: Run code linting
        entry: task lint -- --output-format=concise
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-commit, pre-push, manual ]

      - id: typecheck-mypy
        name: Run type checking with MyPy
        entry: env MYPY_PRETTY=0 task typecheck
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push, manual ]  # Run on push only to speed up commits

      - id: typecheck-ty
        name: Run type checking with Ty
        entry: task ty
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-commit, pre-push, manual ]

      - id: deptry
        name: Check dependency usage
        entry: task deptry
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push, manual ]  # Run on push only to speed up commits

      - id: security-check
        name: Run security checks
        entry: task security-audit
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push, manual ]  # Run on push only to speed up commits
        verbose: true

  # Meta hooks
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

feat: rename base cqrs event marker to notification
  examples/cqrs/pipeline_behaviors.py
  src/waku/cqrs/__init__.py
  src/waku/cqrs/contracts/__init__.py
  src/waku/cqrs/contracts/event.py
  src/waku/cqrs/contracts/notification.py
  src/waku/cqrs/contracts/request.py
  src/waku/cqrs/events/handler.py
  src/waku/cqrs/events/map.py
  src/waku/cqrs/events/publish.py
  src/waku/cqrs/exceptions.py
  src/waku/cqrs/impl.py
  src/waku/cqrs/interfaces.py
  src/waku/cqrs/modules.py
  src/waku/cqrs/requests/handler.py
  src/waku/cqrs/utils.py
  src/waku/modules/_registry.py
Due: lint, typecheck-mypy, typecheck-ty

feat(tests): add app_extensions param to create_test_app
  src/waku/testing.py
  tests/testing/test_override.py
Due: lint, typecheck-mypy, typecheck-ty

feat: migrate cqrs to `OnModuleRegistration` extension
  examples/cqrs/pipeline_behaviors.py
  pyproject.toml
  src/waku/cqrs/events/map.py
  src/waku/cqrs/exceptions.py
  src/waku/cqrs/impl.py
  src/waku/cqrs/interfaces.py
  src/waku/cqrs/modules.py
  src/waku/cqrs/pipeline/map.py
  src/waku/cqrs/requests/map.py
  src/waku/cqrs/utils.py
  src/waku/extensions/__init__.py
  src/waku/extensions/protocols.py
  src/waku/extensions/registry.py
  src/waku/factory.py
  src/waku/modules/__init__.py
  src/waku/modules/_metadata.py
  src/waku/modules/_metadata_registry.py
  src/waku/modules/_module.py
  src/waku/modules/_registry_builder.py
  src/waku/testing.py
  tests/conftest.py
  tests/cqrs/__init__.py
  tests/cqrs/test_utils.py
  tests/extensions/test_on_before_container_build.py
  tests/extensions/test_on_module_registration.py
  uv.lock
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

Deployed 18e4234 with MkDocs version: 1.6.1
  404.html
  assets/javascripts/bundle.79ae519e.min.js
  assets/javascripts/bundle.79ae519e.min.js.map
  assets/javascripts/bundle.e71a0d61.min.js
  assets/javascripts/workers/search.2c215733.min.js
  assets/javascripts/workers/search.2c215733.min.js.map
  assets/javascripts/workers/search.7a47a382.min.js
  assets/stylesheets/main.484c7ddc.min.css
  assets/stylesheets/main.484c7ddc.min.css.map
  assets/stylesheets/main.618322db.min.css
  assets/stylesheets/main.618322db.min.css.map
  changelog/index.html
  contributing/docs/index.html
  contributing/index.html
  examples/cqrs/index.html
  examples/modularity/index.html
  getting-started/index.html
  index.html
  integrations/asgi/index.html
  integrations/index.html
  integrations/litestar/index.html
  objects.inv
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  usage/cqrs/index.html
  usage/extensions/index.html
  usage/extensions/validation/index.html
  usage/lifespan/index.html
  usage/modules/index.html
  usage/providers/index.html
Due: none

chore(release): 0.27.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

chore: update deps
  .gitignore
  .pre-commit-config.yaml
  Taskfile.yml
  pyproject.toml
  uv.lock
Due: uv-lock-check

refactor: move pipeline behavior add logic into map entry
  src/waku/cqrs/events/map.py
  src/waku/cqrs/modules.py
  src/waku/cqrs/pipeline/map.py
  src/waku/extensions/__init__.py
Due: lint, typecheck-mypy, typecheck-ty

Deployed 9e35239 with MkDocs version: 1.6.1
  changelog/index.html
  css/timeago.css
  js/timeago.min.js
  objects.inv
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

feat: use dishka 1.8.0 features
  .github/workflows/deploy-docs.yml
  .github/workflows/validate.yml
  examples/conditional_providers.py
  pyproject.toml
  src/waku/cqrs/modules.py
  src/waku/di/__init__.py
  src/waku/di/_activation.py
  src/waku/di/_providers.py
  src/waku/factory.py
  src/waku/modules/_metadata.py
  src/waku/modules/_metadata_registry.py
  src/waku/modules/_module.py
  src/waku/modules/_registry_builder.py
  src/waku/testing.py
  tests/cqrs/test_multi_module_handlers.py
  tests/data.py
  tests/di/activation/test_activation_context.py
  tests/di/activation/test_activation_integration.py
  tests/di/activation/test_conditional_providers.py
  tests/di/providers/test_many.py
  tests/testing/test_create_test_app.py
  tests/testing/test_override.py
  tests/validation/test_dependencies_accessible.py
  uv.lock
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

Deployed 08fe7cb with MkDocs version: 1.6.1
  objects.inv
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

chore(release): 0.28.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

ci: add claude review workflow
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix: adjust cqrs `many` to run `collect` only after all providers registered
  src/waku/cqrs/impl.py
  src/waku/cqrs/modules.py
  src/waku/cqrs/registry.py
  src/waku/cqrs/requests/map.py
  src/waku/di/_providers.py
  src/waku/extensions/__init__.py
  src/waku/extensions/protocols.py
  tests/cqrs/test_multi_module_handlers.py
  tests/di/providers/test_many.py
  tests/validation/test_cqrs_handler_accessibility.py
Due: lint, typecheck-mypy, typecheck-ty

Deployed 92a2a24 with MkDocs version: 1.6.1
  changelog/index.html
  objects.inv
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

chore(release): 0.28.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat: add event sourcing extension
  .pre-commit-config.yaml
  .typos.toml
  README.md
  Taskfile.yml
  docs/assets/logo.png
  pyproject.toml
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/contracts/__init__.py
  src/waku/eventsourcing/contracts/aggregate.py
  src/waku/eventsourcing/contracts/event.py
  src/waku/eventsourcing/contracts/stream.py
  src/waku/eventsourcing/exceptions.py
  src/waku/eventsourcing/handler.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/repository.py
  src/waku/eventsourcing/store/__init__.py
  src/waku/eventsourcing/store/in_memory.py
  src/waku/eventsourcing/store/interfaces.py
  src/waku/eventsourcing/testing.py
  tests/eventsourcing/__init__.py
  tests/eventsourcing/test_aggregate.py
  tests/eventsourcing/test_contracts.py
  tests/eventsourcing/test_decider.py
  tests/eventsourcing/test_handler.py
  tests/eventsourcing/test_in_memory_store.py
  tests/eventsourcing/test_modules.py
  tests/eventsourcing/test_repository.py
  tests/eventsourcing/test_testing_dsl.py
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

feat: add event sourcing extension 2
  examples/eventsourcing/__init__.py
  examples/eventsourcing/basic_usage.py
  pyproject.toml
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/exceptions.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/projection/__init__.py
  src/waku/eventsourcing/projection/interfaces.py
  src/waku/eventsourcing/serialization/__init__.py
  src/waku/eventsourcing/serialization/interfaces.py
  src/waku/eventsourcing/serialization/json.py
  src/waku/eventsourcing/serialization/registry.py
  src/waku/eventsourcing/snapshot/__init__.py
  src/waku/eventsourcing/snapshot/interfaces.py
  src/waku/eventsourcing/snapshot/repository.py
  src/waku/eventsourcing/snapshot/sqlalchemy/__init__.py
  src/waku/eventsourcing/snapshot/sqlalchemy/store.py
  src/waku/eventsourcing/snapshot/sqlalchemy/tables.py
  src/waku/eventsourcing/snapshot/strategy.py
  src/waku/eventsourcing/store/sqlalchemy/__init__.py
  src/waku/eventsourcing/store/sqlalchemy/store.py
  src/waku/eventsourcing/store/sqlalchemy/tables.py
  tests/eventsourcing/conftest.py
  tests/eventsourcing/serialization/__init__.py
  tests/eventsourcing/serialization/test_json_serializer.py
  tests/eventsourcing/serialization/test_registry.py
  tests/eventsourcing/snapshot/__init__.py
  tests/eventsourcing/snapshot/conftest.py
  tests/eventsourcing/snapshot/test_snapshot_repository.py
  tests/eventsourcing/snapshot/test_sqlalchemy_snapshot_store.py
  tests/eventsourcing/snapshot/test_strategy.py
  tests/eventsourcing/store/__init__.py
  tests/eventsourcing/store/conftest.py
  tests/eventsourcing/store/test_sqlalchemy_store.py
  tests/eventsourcing/test_sqlalchemy_modules.py
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

feat: add event sourcing extension 3
  examples/eventsourcing/basic_usage.py
  pyproject.toml
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/contracts/__init__.py
  src/waku/eventsourcing/contracts/aggregate.py
  src/waku/eventsourcing/contracts/event.py
  src/waku/eventsourcing/handler.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/repository.py
  src/waku/eventsourcing/serialization/json.py
  src/waku/eventsourcing/snapshot/__init__.py
  src/waku/eventsourcing/snapshot/in_memory.py
  src/waku/eventsourcing/snapshot/repository.py
  src/waku/eventsourcing/snapshot/sqlalchemy/__init__.py
  src/waku/eventsourcing/snapshot/sqlalchemy/store.py
  src/waku/eventsourcing/snapshot/sqlalchemy/tables.py
  src/waku/eventsourcing/store/_version_check.py
  src/waku/eventsourcing/store/in_memory.py
  src/waku/eventsourcing/store/interfaces.py
  src/waku/eventsourcing/store/sqlalchemy/__init__.py
  src/waku/eventsourcing/store/sqlalchemy/store.py
  src/waku/eventsourcing/store/sqlalchemy/tables.py
  tests/eventsourcing/serialization/test_json_serializer.py
  tests/eventsourcing/snapshot/test_snapshot_repository.py
  tests/eventsourcing/snapshot/test_sqlalchemy_snapshot_store.py
  tests/eventsourcing/store/test_sqlalchemy_store.py
  tests/eventsourcing/test_handler.py
  tests/eventsourcing/test_modules.py
  tests/eventsourcing/test_repository.py
  tests/eventsourcing/test_sqlalchemy_modules.py
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

feat: add event sourcing extension 4
  .typos.toml
  examples/eventsourcing/postgres/compose.yaml
  examples/eventsourcing/postgres/main.py
  examples/eventsourcing/postgres/pyproject.toml
  pyproject.toml
  src/waku/eventsourcing/snapshot/sqlalchemy/store.py
  src/waku/eventsourcing/snapshot/sqlalchemy/tables.py
  src/waku/eventsourcing/store/sqlalchemy/store.py
  src/waku/eventsourcing/store/sqlalchemy/tables.py
  tests/conftest.py
  tests/eventsourcing/conftest.py
  tests/eventsourcing/snapshot/conftest.py
  tests/eventsourcing/snapshot/test_sqlalchemy_snapshot_store.py
  tests/eventsourcing/store/conftest.py
  tests/eventsourcing/store/test_sqlalchemy_store.py
  tests/eventsourcing/test_sqlalchemy_modules.py
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

feat: add event sourcing extension 10
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/contracts/__init__.py
  src/waku/eventsourcing/contracts/event.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/store/_shared.py
  src/waku/eventsourcing/store/in_memory.py
  src/waku/eventsourcing/store/sqlalchemy/store.py
  tests/eventsourcing/store/conftest.py
  tests/eventsourcing/store/test_metadata_enrichment.py
  tests/eventsourcing/test_modules.py
Due: lint, typecheck-mypy, typecheck-ty

feat: add event sourcing extension 9
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/contracts/__init__.py
  src/waku/eventsourcing/exceptions.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/projection/__init__.py
  src/waku/eventsourcing/projection/adaptive_interval.py
  src/waku/eventsourcing/projection/config.py
  src/waku/eventsourcing/projection/interfaces.py
  src/waku/eventsourcing/projection/lock/__init__.py
  src/waku/eventsourcing/projection/lock/in_memory.py
  src/waku/eventsourcing/projection/lock/interfaces.py
  src/waku/eventsourcing/projection/lock/sqlalchemy/__init__.py
  src/waku/eventsourcing/projection/lock/sqlalchemy/advisory.py
  src/waku/eventsourcing/projection/lock/sqlalchemy/lock.py
  src/waku/eventsourcing/projection/lock/sqlalchemy/tables.py
  src/waku/eventsourcing/projection/processor.py
  src/waku/eventsourcing/projection/runner.py
  src/waku/eventsourcing/store/in_memory.py
  tests/eventsourcing/conftest.py
  tests/eventsourcing/projection/helpers.py
  tests/eventsourcing/projection/test_adaptive_interval.py
  tests/eventsourcing/projection/test_advisory_lock.py
  tests/eventsourcing/projection/test_config.py
  tests/eventsourcing/projection/test_lease_lock.py
  tests/eventsourcing/projection/test_lock.py
  tests/eventsourcing/projection/test_processor.py
  tests/eventsourcing/projection/test_projection.py
  tests/eventsourcing/projection/test_runner.py
  tests/eventsourcing/test_contracts.py
  tests/eventsourcing/test_modules.py
Due: lint, typecheck-mypy, typecheck-ty

feat: add event sourcing extension 8
  src/waku/eventsourcing/contracts/stream.py
  src/waku/eventsourcing/store/in_memory.py
  src/waku/eventsourcing/store/sqlalchemy/store.py
  tests/eventsourcing/test_contracts.py
Due: lint, typecheck-mypy, typecheck-ty

feat: add event sourcing extension 7
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/projection/__init__.py
  src/waku/eventsourcing/projection/checkpoint.py
  src/waku/eventsourcing/projection/in_memory.py
  src/waku/eventsourcing/projection/interfaces.py
  src/waku/eventsourcing/projection/sqlalchemy/__init__.py
  src/waku/eventsourcing/projection/sqlalchemy/store.py
  src/waku/eventsourcing/projection/sqlalchemy/tables.py
  src/waku/eventsourcing/snapshot/sqlalchemy/tables.py
  src/waku/eventsourcing/store/sqlalchemy/store.py
  src/waku/eventsourcing/store/sqlalchemy/tables.py
  tests/eventsourcing/conftest.py
  tests/eventsourcing/projection/__init__.py
  tests/eventsourcing/projection/conftest.py
  tests/eventsourcing/projection/test_checkpoint_store_contract.py
  tests/eventsourcing/projection/test_projection.py
  tests/eventsourcing/store/test_event_store_contract.py
Due: lint, typecheck-mypy, typecheck-ty

feat: add event sourcing extension 6
  tests/eventsourcing/domain.py
  tests/eventsourcing/snapshot/conftest.py
  tests/eventsourcing/snapshot/test_snapshot_repository.py
  tests/eventsourcing/snapshot/test_snapshot_store_contract.py
  tests/eventsourcing/store/conftest.py
  tests/eventsourcing/store/domain.py
  tests/eventsourcing/store/test_event_store_contract.py
  tests/eventsourcing/store/test_sqlalchemy_store.py
  tests/eventsourcing/test_handler.py
  tests/eventsourcing/test_repository.py
  tests/eventsourcing/test_sqlalchemy_modules.py
Due: lint, typecheck-mypy, typecheck-ty

feat: add event sourcing extension 11
  src/waku/cqrs/modules.py
  src/waku/cqrs/registry.py
  src/waku/eventsourcing/modules.py
  src/waku/validation/rules/_types_extractor.py
  uv.lock
Due: lint, typecheck-mypy, typecheck-ty

feat(ext): add IEventUpcaster ABC and FnUpcaster adapter
  src/waku/eventsourcing/upcasting/__init__.py
  src/waku/eventsourcing/upcasting/fn.py
  src/waku/eventsourcing/upcasting/interfaces.py
  tests/eventsourcing/upcasting/__init__.py
  tests/eventsourcing/upcasting/test_fn_upcaster.py
Due: lint, typecheck-mypy, typecheck-ty

feat(ext): add built-in upcasting helpers
  src/waku/eventsourcing/upcasting/helpers.py
  tests/eventsourcing/upcasting/test_helpers.py
Due: lint, typecheck-mypy, typecheck-ty

feat(ext): add UpcasterChainError exception
  src/waku/eventsourcing/exceptions.py
  tests/eventsourcing/upcasting/test_chain_error.py
Due: lint, typecheck-mypy, typecheck-ty

feat(ext): add UpcasterChain with sparse chain model
  src/waku/eventsourcing/upcasting/__init__.py
  src/waku/eventsourcing/upcasting/chain.py
  tests/eventsourcing/upcasting/test_chain.py
Due: lint, typecheck-mypy, typecheck-ty

feat(ext): add schema_version field to StoredEvent
  src/waku/eventsourcing/contracts/event.py
  tests/eventsourcing/upcasting/test_stored_event_version.py
Due: lint, typecheck-mypy, typecheck-ty

feat(ext): add version tracking to EventTypeRegistry
  src/waku/eventsourcing/serialization/registry.py
  tests/eventsourcing/serialization/test_registry.py
Due: lint, typecheck-mypy, typecheck-ty

feat(ext): add version/upcasters to EventType and wire UpcasterChain in aggregator
  src/waku/eventsourcing/modules.py
  tests/eventsourcing/test_modules.py
Due: lint, typecheck-mypy, typecheck-ty

feat(ext): add schema_version column to es_events table
  src/waku/eventsourcing/store/sqlalchemy/tables.py
  tests/eventsourcing/upcasting/test_schema_version_column.py
Due: lint, typecheck-mypy, typecheck-ty
