Repository waku-py/waku: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, lint, typecheck-mypy, typecheck-ty

.pre-commit-config.yaml:

# Pre-commit configuration for waku
# See https://pre-commit.com for more information
default_install_hook_types: [ pre-commit, pre-push, commit-msg ]
default_stages: [ pre-commit, pre-push, manual ]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args: [ "--branch", "master" ]
      - id: check-yaml
        args: [ "--unsafe" ]
        files: '\.(yaml|yml)$'
      - id: check-toml
        files: '\.toml$'
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: '^uv\.lock$'
      - id: trailing-whitespace
        args: [ "--markdown-linebreak-ext=md" ]
      - id: detect-private-key
      - id: check-illegal-windows-names
      - id: mixed-line-ending
        args: [ "--fix=lf" ]
      - id: check-case-conflict

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.0
    hooks:
      - id: check-github-workflows
        files: '^\.github/workflows/.*\.ya?ml$'
      - id: check-renovate
        files: '^\.github/renovate\.json$'
      - id: check-taskfile
        files: '^Taskfile\.yml$'

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies: [ tomli ]
        files: '\.(py|pyi|md|yml|yaml|json|toml)$'

  - repo: local
    hooks:
      - id: commit-msg
        name: check commit message
        stages: [ commit-msg ]
        language: system
        entry: task gitlint -- --msg-filename
        fail_fast: true

      - id: uv-lock-check
        name: uv-lock-check
        entry: uv lock --locked
        language: system
        pass_filenames: false
        files: '^pyproject\.toml$'
        fail_fast: true

      - id: lint
        name: Run code linting
        entry: task lint -- --output-format=concise
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-commit, pre-push, manual ]

      - id: typecheck-mypy
        name: Run type checking with MyPy
        entry: env MYPY_PRETTY=0 task typecheck
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push, manual ]  # Run on push only to speed up commits

      - id: typecheck-ty
        name: Run type checking with Ty
        entry: task ty
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-commit, pre-push, manual ]

      - id: deptry
        name: Check dependency usage
        entry: task deptry
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push, manual ]  # Run on push only to speed up commits

      - id: security-check
        name: Run security checks
        entry: task security-audit
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push, manual ]  # Run on push only to speed up commits
        verbose: true

  # Meta hooks
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

feat: messaging transport 5
  src/waku/messaging/config.py
  src/waku/messaging/endpoints/executor.py
  src/waku/messaging/errors/__init__.py
  src/waku/messaging/errors/dead_letter.py
  src/waku/messaging/errors/executor.py
  src/waku/messaging/errors/sqla/store.py
  src/waku/messaging/errors/writer.py
  src/waku/messaging/modules.py
  src/waku/messaging/outbox/interfaces.py
  src/waku/messaging/outbox/relay.py
  src/waku/messaging/outbox/sqla/store.py
  tests/messaging/endpoints/test_executor.py
  tests/messaging/errors/test_policy.py
  tests/messaging/errors/test_writer.py
  tests/messaging/helpers.py
  tests/messaging/outbox/fake_store.py
  tests/messaging/outbox/test_relay.py
  tests/messaging/test_full_flow_integration.py
  tests/messaging/test_map_registration.py
  tests/messaging/test_message_bus.py
  tests/messaging/test_outbox_integration.py
Due: lint, typecheck-mypy, typecheck-ty

feat: messaging transport 7
  src/waku/messaging/dispatcher.py
  src/waku/messaging/endpoints/executor.py
  src/waku/messaging/impl.py
  src/waku/messaging/interfaces.py
  src/waku/messaging/modules.py
  src/waku/messaging/pipeline/__init__.py
  src/waku/messaging/pipeline/invoker.py
  src/waku/validation/_errors.py
  tests/messaging/endpoints/test_executor.py
  tests/messaging/endpoints/test_local_queue.py
  tests/messaging/pipeline/__init__.py
  tests/messaging/pipeline/test_invoker.py
  tests/messaging/test_dispatcher.py
  tests/messaging/test_local_queue_endpoint.py
Due: lint, typecheck-mypy, typecheck-ty

feat: messaging transport 8
  .pre-commit-config.yaml
  Taskfile.yml
  pyproject.toml
  tests/messaging/test_routing_builder.py
  uv.lock
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

feat: messaging transport 9
  .claude/settings.local.json
  .gitignore
  Taskfile.yml
  docs/advanced/di/conditional-providers.md
  docs/code/eventsourcing/postgres_setup.py
  examples/conditional_providers.py
  examples/eventsourcing/postgres/main.py
  examples/modularity.py
  pyproject.toml
  pyrefly.toml
  src/waku/di/_providers.py
  src/waku/eventsourcing/projection/registry.py
  src/waku/eventsourcing/projection/runner.py
  src/waku/testing.py
  src/waku/validation/rules/dependency_accessible.py
  tests/conftest.py
  tests/di/activation/test_activation_integration.py
  tests/eventsourcing/projection/test_runner.py
  tests/messaging/outbox/test_relay.py
  tests/testing/test_create_test_app.py
  tests/testing/test_override.py
  uv.lock
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

feat: messaging M2a.1 and M2a.2
  .typos.toml
  examples/messaging/pipeline_behaviors.py
  src/waku/messaging/__init__.py
  src/waku/messaging/config.py
  src/waku/messaging/contracts/__init__.py
  src/waku/messaging/contracts/factory.py
  src/waku/messaging/contracts/identity.py
  src/waku/messaging/contracts/message.py
  src/waku/messaging/endpoints/executor.py
  src/waku/messaging/errors/__init__.py
  src/waku/messaging/errors/executor.py
  src/waku/messaging/errors/policy.py
  src/waku/messaging/errors/registry.py
  src/waku/messaging/exceptions.py
  src/waku/messaging/handler.py
  src/waku/messaging/identity.py
  src/waku/messaging/modules.py
  src/waku/messaging/pipeline/invoker.py
  src/waku/messaging/pipeline/map.py
  src/waku/messaging/registry.py
  src/waku/messaging/transport/serialization.py
  tests/messaging/contracts/test_factory.py
  tests/messaging/endpoints/test_executor.py
  tests/messaging/endpoints/test_local_queue.py
  tests/messaging/errors/test_executor.py
  tests/messaging/errors/test_policy.py
  tests/messaging/errors/test_registry.py
  tests/messaging/helpers.py
  tests/messaging/pipeline/test_invoker.py
  tests/messaging/test_full_flow_integration.py
  tests/messaging/test_handler_classvar.py
  tests/messaging/test_identity.py
  tests/messaging/test_integration.py
  tests/messaging/test_local_queue_endpoint.py
  tests/messaging/test_map_registration.py
  tests/messaging/test_message_bus.py
  tests/messaging/test_multi_module_handlers.py
  tests/validation/test_handler_accessibility.py
Due: lint, typecheck-mypy, typecheck-ty

feat: messaging M2a.3
  pyproject.toml
  src/waku/messaging/__init__.py
  src/waku/messaging/endpoints/base.py
  src/waku/messaging/endpoints/inline.py
  src/waku/messaging/endpoints/local_queue.py
  src/waku/messaging/endpoints/worker.py
  src/waku/messaging/modules.py
  tests/eventsourcing/decider/test_decider_repository.py
  tests/messaging/endpoints/test_external.py
  tests/messaging/endpoints/test_inline.py
  tests/messaging/endpoints/test_worker.py
  tests/messaging/helpers.py
  tests/messaging/test_endpoint_base.py
  tests/messaging/test_endpoint_modes_integration.py
  tests/messaging/test_local_queue_endpoint.py
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

feat: messaging M2a.4
  src/waku/messaging/__init__.py
  src/waku/messaging/behaviors/transactional.py
  src/waku/messaging/modules.py
  src/waku/messaging/outgoing.py
  src/waku/messaging/pipeline/invoker.py
  tests/messaging/pipeline/test_invoker.py
  tests/messaging/test_cascading.py
  tests/messaging/test_outgoing.py
  tests/messaging/test_transactional_behavior.py
Due: lint, typecheck-mypy, typecheck-ty

feat: messaging M2a.5
  docs/features/messaging/events.md
  src/waku/messaging/behaviors/cascading.py
  src/waku/messaging/behaviors/transactional.py
  src/waku/messaging/dispatcher.py
  src/waku/messaging/impl.py
  src/waku/messaging/interfaces.py
  src/waku/messaging/modules.py
  tests/messaging/helpers.py
  tests/messaging/test_dispatcher.py
  tests/messaging/test_inline_event_invocation.py
  tests/messaging/test_transactional_behavior.py
Due: lint, typecheck-mypy, typecheck-ty

feat: messaging M2b.1
  src/waku/messaging/__init__.py
  src/waku/messaging/behaviors/outbox_cascading.py
  src/waku/messaging/config.py
  src/waku/messaging/endpoints/durable_local_queue.py
  src/waku/messaging/endpoints/executor.py
  src/waku/messaging/inbox/__init__.py
  src/waku/messaging/inbox/_destination.py
  src/waku/messaging/inbox/config.py
  src/waku/messaging/inbox/interfaces.py
  src/waku/messaging/inbox/models.py
  src/waku/messaging/inbox/receiver.py
  src/waku/messaging/inbox/recovery.py
  src/waku/messaging/inbox/sqla/__init__.py
  src/waku/messaging/inbox/sqla/store.py
  src/waku/messaging/inbox/sqla/tables.py
  src/waku/messaging/modules.py
  src/waku/messaging/outbox/sqla/tables.py
  src/waku/messaging/sqla/types.py
  tests/messaging/behaviors/__init__.py
  tests/messaging/behaviors/test_outbox_cascading.py
  tests/messaging/endpoints/test_durable_local_queue.py
  tests/messaging/endpoints/test_executor.py
  tests/messaging/helpers.py
  tests/messaging/inbox/__init__.py
  tests/messaging/inbox/fake_store.py
  tests/messaging/inbox/sqla/__init__.py
  tests/messaging/inbox/sqla/test_store.py
  tests/messaging/inbox/test_config.py
  tests/messaging/inbox/test_receiver.py
  tests/messaging/inbox/test_recovery.py
  tests/messaging/test_durable_inbox_integration.py
  tests/messaging/test_full_flow_integration.py
  tests/messaging/test_outbox_integration.py
  tests/messaging/test_routing_branches.py
Due: lint, typecheck-mypy, typecheck-ty

feat: messaging M2b.2
  src/waku/messaging/behaviors/cascading.py
  src/waku/messaging/behaviors/outbox_cascading.py
  src/waku/messaging/context.py
  src/waku/messaging/contracts/envelope.py
  src/waku/messaging/contracts/factory.py
  src/waku/messaging/endpoints/durable_local_queue.py
  src/waku/messaging/endpoints/external.py
  src/waku/messaging/impl.py
  src/waku/messaging/inbox/models.py
  src/waku/messaging/inbox/receiver.py
  src/waku/messaging/inbox/sqla/store.py
  src/waku/messaging/inbox/sqla/tables.py
  src/waku/messaging/modules.py
  src/waku/messaging/outbox/interfaces.py
  src/waku/messaging/outbox/models.py
  src/waku/messaging/outbox/relay.py
  src/waku/messaging/outbox/sqla/store.py
  src/waku/messaging/outbox/sqla/tables.py
  src/waku/messaging/outgoing.py
  src/waku/messaging/partition.py
  src/waku/messaging/sqla/__init__.py
  src/waku/messaging/sqla/sequence.py
  src/waku/messaging/sqla/tables.py
  tests/messaging/contracts/test_factory.py
  tests/messaging/endpoints/test_durable_local_queue.py
  tests/messaging/endpoints/test_external.py
  tests/messaging/helpers.py
  tests/messaging/inbox/fake_store.py
  tests/messaging/inbox/sqla/test_store.py
  tests/messaging/inbox/test_receiver.py
  tests/messaging/outbox/fake_store.py
  tests/messaging/outbox/sqla/test_head_of_queue.py
  tests/messaging/outbox/sqla/test_store.py
  tests/messaging/outbox/test_relay.py
  tests/messaging/sqla/test_sequence.py
  tests/messaging/test_context.py
  tests/messaging/test_full_flow_integration.py
  tests/messaging/test_message_bus.py
  tests/messaging/test_outgoing.py
Due: lint, typecheck-mypy, typecheck-ty

feat: messaging M2e
  src/waku/di/__init__.py
  src/waku/di/_providers.py
  src/waku/eventsourcing/decider/handler.py
  src/waku/eventsourcing/forwarding.py
  src/waku/eventsourcing/handler.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/store/sqlalchemy/store.py
  src/waku/messaging/errors/dead_letter.py
  src/waku/messaging/errors/sqla/store.py
  src/waku/messaging/errors/sqla/tables.py
  src/waku/messaging/modules.py
  src/waku/messaging/sqla/uow.py
  tests/eventsourcing/decider/conftest.py
  tests/eventsourcing/decider/test_decider_handler.py
  tests/eventsourcing/store/test_appended_events_collector.py
  tests/eventsourcing/test_es_messaging_atomic_forwarding.py
  tests/eventsourcing/test_event_forwarding.py
  tests/eventsourcing/test_handler.py
  tests/eventsourcing/test_session_identity_validation.py
  tests/messaging/errors/sqla/test_store.py
  tests/messaging/errors/test_dead_letter.py
  tests/messaging/helpers.py
Due: lint, typecheck-mypy, typecheck-ty

feat: messaging M2c
  src/waku/messaging/__init__.py
  src/waku/messaging/config.py
  src/waku/messaging/errors/__init__.py
  src/waku/messaging/errors/dead_letter.py
  src/waku/messaging/errors/replay.py
  src/waku/messaging/errors/sqla/store.py
  src/waku/messaging/errors/worker.py
  src/waku/messaging/modules.py
  src/waku/messaging/router.py
  tests/messaging/endpoints/test_executor.py
  tests/messaging/errors/sqla/test_store.py
  tests/messaging/errors/test_dead_letter.py
  tests/messaging/errors/test_replay.py
  tests/messaging/errors/test_worker.py
  tests/messaging/helpers.py
  tests/messaging/test_dead_letter_replay_integration.py
  tests/messaging/test_full_flow_integration.py
  tests/messaging/test_message_bus.py
  tests/messaging/test_public_api.py
  tests/messaging/test_router.py
Due: lint, typecheck-mypy, typecheck-ty

feat: messaging M2b - Inbox Pull-Listener / Crash Recovery
  pyproject.toml
  src/waku/messaging/endpoints/durable_local_queue.py
  src/waku/messaging/inbox/config.py
  src/waku/messaging/inbox/drainer.py
  src/waku/messaging/inbox/finalize.py
  src/waku/messaging/inbox/interfaces.py
  src/waku/messaging/inbox/receiver.py
  src/waku/messaging/inbox/recovery.py
  src/waku/messaging/modules.py
  tests/messaging/endpoints/test_durable_local_queue.py
  tests/messaging/inbox/fake_store.py
  tests/messaging/inbox/sqla/test_store.py
  tests/messaging/inbox/test_config.py
  tests/messaging/inbox/test_drainer.py
  tests/messaging/inbox/test_finalize.py
  tests/messaging/inbox/test_recovery.py
  tests/messaging/test_inbox_pull_listener_integration.py
  uv.lock
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

feat: messaging M2d - Sending Failure Policies
  src/waku/messaging/_escalation.py
  src/waku/messaging/config.py
  src/waku/messaging/endpoints/base.py
  src/waku/messaging/errors/executor.py
  src/waku/messaging/errors/registry.py
  src/waku/messaging/modules.py
  src/waku/messaging/outbox/interfaces.py
  src/waku/messaging/outbox/models.py
  src/waku/messaging/outbox/relay.py
  src/waku/messaging/outbox/sqla/store.py
  src/waku/messaging/sending/__init__.py
  src/waku/messaging/sending/evaluator.py
  src/waku/messaging/sending/policy.py
  src/waku/messaging/sending/registry.py
  tests/messaging/helpers.py
  tests/messaging/outbox/fake_store.py
  tests/messaging/outbox/sqla/test_store.py
  tests/messaging/outbox/test_relay.py
  tests/messaging/sending/__init__.py
  tests/messaging/sending/test_evaluator.py
  tests/messaging/sending/test_policy.py
  tests/messaging/sending/test_registry.py
  tests/messaging/test_endpoint_base.py
  tests/messaging/test_escalation.py
  tests/messaging/test_full_flow_integration.py
  tests/messaging/test_sending_wiring.py
Due: lint, typecheck-mypy, typecheck-ty

feat: messaging M2d - Circuit Breaker
  src/waku/messaging/__init__.py
  src/waku/messaging/circuit_breaker/__init__.py
  src/waku/messaging/circuit_breaker/breaker.py
  src/waku/messaging/circuit_breaker/config.py
  src/waku/messaging/endpoints/base.py
  src/waku/messaging/endpoints/durable_local_queue.py
  src/waku/messaging/endpoints/executor.py
  src/waku/messaging/endpoints/local_queue.py
  src/waku/messaging/modules.py
  tests/messaging/circuit_breaker/__init__.py
  tests/messaging/circuit_breaker/test_breaker.py
  tests/messaging/circuit_breaker/test_config.py
  tests/messaging/endpoints/test_durable_local_queue.py
  tests/messaging/endpoints/test_executor.py
  tests/messaging/inbox/test_drainer.py
  tests/messaging/inbox/test_receiver.py
  tests/messaging/test_endpoint_base.py
  tests/messaging/test_endpoint_modes_integration.py
  tests/messaging/test_local_queue_endpoint.py
Due: lint, typecheck-mypy, typecheck-ty

feat: messaging refinement part 0
  src/waku/messaging/circuit_breaker/breaker.py
  src/waku/messaging/endpoints/durable_local_queue.py
  src/waku/messaging/endpoints/executor.py
  src/waku/messaging/inbox/finalize.py
  src/waku/messaging/outbox/sqla/store.py
  tests/messaging/circuit_breaker/test_breaker.py
  tests/messaging/endpoints/test_executor.py
  tests/messaging/inbox/conftest.py
  tests/messaging/inbox/fake_store.py
  tests/messaging/inbox/sqla/test_store.py
  tests/messaging/inbox/test_finalize.py
  tests/messaging/inbox/test_store_contract.py
  tests/messaging/outbox/conftest.py
  tests/messaging/outbox/in_memory_store.py
  tests/messaging/outbox/sqla/test_head_of_queue.py
  tests/messaging/outbox/sqla/test_store.py
  tests/messaging/outbox/test_store_contract.py
  tests/messaging/test_durable_inbox_integration.py
  tests/messaging/test_full_flow_integration.py
Due: lint, typecheck-mypy, typecheck-ty

feat(messaging): behavior-policy assembly + correctness fixes
  src/waku/application.py
  src/waku/di/__init__.py
  src/waku/di/_providers.py
  src/waku/eventsourcing/decider/handler.py
  src/waku/eventsourcing/forwarding.py
  src/waku/eventsourcing/forwarding_policy.py
  src/waku/eventsourcing/handler.py
  src/waku/eventsourcing/modules.py
  src/waku/extensions/__init__.py
  src/waku/extensions/aggregator.py
  src/waku/extensions/protocols.py
  src/waku/factory.py
  src/waku/messaging/__init__.py
  src/waku/messaging/endpoints/durable_local_queue.py
  src/waku/messaging/errors/policy.py
  src/waku/messaging/errors/worker.py
  src/waku/messaging/handler.py
  src/waku/messaging/inbox/drainer.py
  src/waku/messaging/inbox/recovery.py
  src/waku/messaging/modules.py
  src/waku/messaging/outbox/relay.py
  src/waku/messaging/pipeline/invoker.py
  src/waku/messaging/pipeline/policies.py
  src/waku/messaging/pipeline/policy.py
  tests/di/test_unit_of_work_scope.py
  tests/eventsourcing/test_forwarding_policy.py
  tests/eventsourcing/test_handler.py
  tests/extensions/test_on_container_built.py
  tests/extensions/test_registry_aggregator.py
  tests/messaging/endpoints/test_executor.py
  tests/messaging/endpoints/test_local_queue.py
  tests/messaging/pipeline/test_behavior_plan.py
  tests/messaging/pipeline/test_behavior_plan_selectivity.py
  tests/messaging/pipeline/test_invoker.py
  tests/messaging/test_full_flow_integration.py
  tests/messaging/test_handler_classvar.py
  tests/messaging/test_message_bus.py
  tests/messaging/test_multi_module_handlers.py
  tests/validation/test_handler_accessibility.py
Due: lint, typecheck-mypy, typecheck-ty

feat(messaging): API-surface ergonomics
  src/waku/_internal/polling.py
  src/waku/eventsourcing/projection/config.py
  src/waku/messaging/__init__.py
  src/waku/messaging/config.py
  src/waku/messaging/errors/worker.py
  src/waku/messaging/exceptions.py
  src/waku/messaging/inbox/__init__.py
  src/waku/messaging/inbox/config.py
  src/waku/messaging/inbox/drainer.py
  src/waku/messaging/inbox/recovery.py
  src/waku/messaging/modules.py
  src/waku/messaging/outbox/relay.py
  tests/di/activation/test_activation_context.py
  tests/eventsourcing/test_aggregate_spec.py
  tests/eventsourcing/test_contracts.py
  tests/eventsourcing/test_testing_dsl.py
  tests/messaging/errors/test_worker.py
  tests/messaging/inbox/test_config.py
  tests/messaging/inbox/test_recovery.py
  tests/messaging/outbox/test_relay.py
  tests/messaging/test_config.py
  tests/messaging/test_endpoint_modes_integration.py
  tests/messaging/test_full_flow_integration.py
  tests/messaging/test_map_registration.py
  tests/messaging/test_message_bus.py
  tests/messaging/test_public_api.py
Due: lint, typecheck-mypy, typecheck-ty

feat(messaging): infer message type from handler generic in bind(*handlers)
  src/waku/messaging/modules.py
  src/waku/testing.py
  tests/eventsourcing/decider/test_decider_modules.py
  tests/eventsourcing/test_es_messaging_atomic_forwarding.py
  tests/eventsourcing/test_handler.py
  tests/messaging/behaviors/test_outbox_cascading.py
  tests/messaging/endpoints/test_executor.py
  tests/messaging/endpoints/test_inline.py
  tests/messaging/endpoints/test_local_queue.py
  tests/messaging/pipeline/test_invoker.py
  tests/messaging/test_cascading.py
  tests/messaging/test_dead_letter_replay_integration.py
  tests/messaging/test_dispatcher.py
  tests/messaging/test_durable_inbox_integration.py
  tests/messaging/test_endpoint_lifecycle.py
  tests/messaging/test_endpoint_modes_integration.py
  tests/messaging/test_es_integration.py
  tests/messaging/test_full_flow_integration.py
  tests/messaging/test_inbox_pull_listener_integration.py
  tests/messaging/test_inline_event_invocation.py
  tests/messaging/test_integration.py
  tests/messaging/test_local_queue_endpoint.py
  tests/messaging/test_map_registration.py
  tests/messaging/test_message_bus.py
  tests/messaging/test_module_routing.py
  tests/messaging/test_multi_module_handlers.py
  tests/messaging/test_outbox_integration.py
  tests/messaging/test_routing_branches.py
  tests/messaging/test_transactional_behavior.py
  tests/validation/test_handler_accessibility.py
Due: lint, typecheck-mypy, typecheck-ty

refactor(messaging): unify escalation grammar and extract shared PollingAgent lifecycle
  src/waku/messaging/_escalation.py
  src/waku/messaging/_introspection.py
  src/waku/messaging/_polling_agent.py
  src/waku/messaging/context.py
  src/waku/messaging/errors/policy.py
  src/waku/messaging/errors/worker.py
  src/waku/messaging/inbox/recovery.py
  src/waku/messaging/outbox/relay.py
  src/waku/messaging/pipeline/__init__.py
  src/waku/messaging/sending/policy.py
  src/waku/messaging/sqla/__init__.py
  tests/messaging/outbox/test_relay.py
  tests/messaging/test_context.py
  tests/messaging/test_enrichers.py
  tests/messaging/test_escalation.py
  tests/messaging/test_polling_agent.py
  tests/messaging/test_utils.py
Due: lint, typecheck-mypy, typecheck-ty

refactor(messaging): M2→M3 consolidation final batch + post-gate holistic quality fixes
  pyproject.toml
  src/waku/_internal/transaction.py
  src/waku/di/__init__.py
  src/waku/di/_providers.py
  src/waku/integrations/eventsourcing_messaging/__init__.py
  src/waku/integrations/eventsourcing_messaging/correlation_enricher.py
  src/waku/messaging/contracts/__init__.py
  src/waku/messaging/endpoints/base.py
  src/waku/messaging/endpoints/durable_local_queue.py
  src/waku/messaging/errors/worker.py
  src/waku/messaging/handler_map.py
  src/waku/messaging/inbox/drainer.py
  src/waku/messaging/inbox/recovery.py
  src/waku/messaging/outbox/relay.py
  tests/messaging/outbox/test_relay.py
  tests/messaging/test_enrichers.py
  tests/messaging/test_es_integration.py
  tests/messaging/test_map_registration.py
  tests/messaging/test_transaction.py
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

feat(messaging): handler execution timeout (default-on 60s) + global durability default
  pyproject.toml
  src/waku/_internal/sentinel.py
  src/waku/messaging/config.py
  src/waku/messaging/endpoints/base.py
  src/waku/messaging/endpoints/executor.py
  src/waku/messaging/exceptions.py
  src/waku/messaging/handler.py
  src/waku/messaging/inbox/drainer.py
  src/waku/messaging/modules.py
  tests/messaging/endpoints/test_executor.py
  tests/messaging/test_durable_inbox_integration.py
  tests/messaging/test_endpoint_base.py
  tests/messaging/test_endpoint_modes_integration.py
  uv.lock
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

feat(messaging): pause-on-failure + REQUEUE resilience actions
  src/waku/messaging/_escalation.py
  src/waku/messaging/circuit_breaker/breaker.py
  src/waku/messaging/config.py
  src/waku/messaging/endpoints/base.py
  src/waku/messaging/endpoints/durable_local_queue.py
  src/waku/messaging/endpoints/executor.py
  src/waku/messaging/endpoints/local_queue.py
  src/waku/messaging/endpoints/worker.py
  src/waku/messaging/errors/policy.py
  src/waku/messaging/exceptions.py
  src/waku/messaging/inbox/drainer.py
  src/waku/messaging/inbox/finalize.py
  src/waku/messaging/inbox/receiver.py
  src/waku/messaging/modules.py
  src/waku/messaging/outbox/relay.py
  src/waku/messaging/pauser.py
  tests/_wait.py
  tests/messaging/circuit_breaker/test_breaker.py
  tests/messaging/endpoints/test_durable_local_queue.py
  tests/messaging/endpoints/test_executor.py
  tests/messaging/endpoints/test_local_queue.py
  tests/messaging/endpoints/test_worker.py
  tests/messaging/inbox/test_drainer.py
  tests/messaging/inbox/test_receiver.py
  tests/messaging/test_durable_inbox_integration.py
  tests/messaging/test_endpoint_modes_integration.py
  tests/messaging/test_escalation.py
  tests/messaging/test_local_queue_endpoint.py
  tests/messaging/test_pauser.py
Due: lint, typecheck-mypy, typecheck-ty

refactor(messaging): remove unwired DurableReceiver stub, correct inbound ROADMAP
  src/waku/messaging/endpoints/durable_local_queue.py
  src/waku/messaging/inbox/_destination.py
  src/waku/messaging/inbox/finalize.py
  src/waku/messaging/inbox/interfaces.py
  src/waku/messaging/inbox/receiver.py
  src/waku/messaging/modules.py
  src/waku/messaging/partition.py
  tests/messaging/inbox/test_receiver.py
Due: lint, typecheck-mypy, typecheck-ty

feat(messaging): DeliveryOptions per-call override
  src/waku/_internal/clock.py
  src/waku/messaging/__init__.py
  src/waku/messaging/_polling_agent.py
  src/waku/messaging/contracts/envelope.py
  src/waku/messaging/contracts/factory.py
  src/waku/messaging/delivery.py
  src/waku/messaging/endpoints/base.py
  src/waku/messaging/endpoints/durable_local_queue.py
  src/waku/messaging/endpoints/executor.py
  src/waku/messaging/exceptions.py
  src/waku/messaging/impl.py
  src/waku/messaging/inbox/config.py
  src/waku/messaging/inbox/drainer.py
  src/waku/messaging/inbox/interfaces.py
  src/waku/messaging/inbox/recovery.py
  src/waku/messaging/inbox/scheduled.py
  src/waku/messaging/inbox/sqla/store.py
  src/waku/messaging/interfaces.py
  src/waku/messaging/modules.py
  src/waku/messaging/partition.py
  src/waku/messaging/transport/serialization.py
  tests/eventsourcing/test_event_forwarding.py
  tests/messaging/contracts/test_factory.py
  tests/messaging/endpoints/test_durable_local_queue.py
  tests/messaging/endpoints/test_executor.py
  tests/messaging/helpers.py
  tests/messaging/inbox/fake_store.py
  tests/messaging/inbox/test_promote_scheduled.py
  tests/messaging/test_delivery_options.py
  tests/messaging/test_durable_inbox_integration.py
  tests/messaging/test_message_bus_delivery.py
  tests/messaging/test_partition.py
  tests/messaging/transport/test_serialization.py
Due: lint, typecheck-mypy, typecheck-ty

refactor(messaging): compose MemoryStreamWorker in durable endpoint
  src/waku/messaging/endpoints/durable_local_queue.py
  src/waku/messaging/endpoints/worker.py
Due: lint, typecheck-mypy, typecheck-ty

feat(messaging): in-process inbound RabbitMQ listener
  .typos.toml
  pyproject.toml
  src/waku/messaging/__init__.py
  src/waku/messaging/config.py
  src/waku/messaging/endpoints/base.py
  src/waku/messaging/endpoints/durable_inbox_receiver.py
  src/waku/messaging/endpoints/durable_local_queue.py
  src/waku/messaging/inbox/listener.py
  src/waku/messaging/modules.py
  src/waku/messaging/transport/faststream/inbound/__init__.py
  src/waku/messaging/transport/faststream/inbound/rabbitmq.py
  src/waku/messaging/transport/inbound.py
  tests/messaging/endpoints/test_durable_inbox_receiver.py
  tests/messaging/inbox/test_listener.py
  tests/messaging/test_inbound_config.py
  tests/messaging/test_inbound_integration.py
  tests/messaging/transport/faststream/inbound/__init__.py
  tests/messaging/transport/faststream/inbound/test_rabbitmq.py
  uv.lock
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

refactor(es): export forward/ForwardDescriptor publicly, drop AdaptiveInterval shim
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/projection/adaptive_interval.py
  src/waku/eventsourcing/projection/processor.py
  src/waku/eventsourcing/projection/runner.py
  tests/_internal/__init__.py
  tests/_internal/test_adaptive_interval.py
  tests/eventsourcing/test_es_messaging_atomic_forwarding.py
  tests/eventsourcing/test_event_forwarding.py
Due: lint, typecheck-mypy, typecheck-ty

refactor(messaging): drop dead IOutboxStore.fetch_and_mark_processing
  docs/features/messaging/outbox.md
  src/waku/messaging/outbox/interfaces.py
  src/waku/messaging/outbox/sqla/store.py
  tests/messaging/outbox/fake_store.py
  tests/messaging/outbox/in_memory_store.py
  tests/messaging/outbox/sqla/test_store.py
  tests/messaging/outbox/test_relay.py
  tests/messaging/outbox/test_store_contract.py
Due: lint, typecheck-mypy, typecheck-ty

feat(messaging): scheme-keyed transport collection; transport no longer serializes
  docs/features/messaging/outbox.md
  src/waku/messaging/config.py
  src/waku/messaging/modules.py
  src/waku/messaging/outbox/relay.py
  src/waku/messaging/transport/__init__.py
  src/waku/messaging/transport/faststream/__init__.py
  src/waku/messaging/transport/faststream/inbound/__init__.py
  src/waku/messaging/transport/faststream/inbound/rabbitmq.py
  src/waku/messaging/transport/faststream/rabbitmq.py
  src/waku/messaging/transport/faststream/transport.py
  src/waku/messaging/transport/inbound.py
  src/waku/messaging/transport/interfaces.py
  src/waku/messaging/transport/registry.py
  tests/eventsourcing/test_es_messaging_atomic_forwarding.py
  tests/eventsourcing/test_forwarding_policy.py
  tests/messaging/behaviors/test_outbox_cascading.py
  tests/messaging/helpers.py
  tests/messaging/inbox/test_drainer.py
  tests/messaging/outbox/test_relay.py
  tests/messaging/pipeline/test_behavior_plan.py
  tests/messaging/pipeline/test_behavior_plan_selectivity.py
  tests/messaging/test_full_flow_integration.py
  tests/messaging/test_inbound_config.py
  tests/messaging/test_message_bus.py
  tests/messaging/test_outbox_integration.py
  tests/messaging/test_routing_branches.py
  tests/messaging/test_sending_wiring.py
  tests/messaging/test_transport_collection_integration.py
  tests/messaging/transport/faststream/inbound/__init__.py
  tests/messaging/transport/faststream/inbound/test_rabbitmq.py
  tests/messaging/transport/faststream/test_rabbitmq.py
  tests/messaging/transport/faststream/test_transport.py
  tests/messaging/transport/test_registry.py
Due: lint, typecheck-mypy, typecheck-ty

feat(core): add blocking WakuApplication.run() with graceful shutdown
  docs/features/messaging/dedicated-consumer.md
  examples/messaging/consumer.py
  src/waku/_internal/shutdown.py
  src/waku/application.py
  src/waku/eventsourcing/projection/runner.py
  src/waku/messaging/modules.py
  src/waku/messaging/transport/registry.py
  tests/_lifecycle.py
  tests/messaging/test_consumer_run_integration.py
  tests/messaging/transport/test_registry.py
  tests/test_application_run.py
  tests/test_shutdown.py
  zensical.toml
Due: lint, typecheck-mypy, typecheck-ty

feat(messaging): inbound listener backpressure (CB + watermark) via one refcounted gate
  src/waku/messaging/__init__.py
  src/waku/messaging/config.py
  src/waku/messaging/endpoints/base.py
  src/waku/messaging/endpoints/durable_inbox_receiver.py
  src/waku/messaging/endpoints/worker.py
  src/waku/messaging/inbox/backpressure.py
  src/waku/messaging/inbox/listener.py
  src/waku/messaging/modules.py
  src/waku/messaging/transport/faststream/rabbitmq.py
  src/waku/messaging/transport/interfaces.py
  tests/messaging/endpoints/test_durable_inbox_receiver.py
  tests/messaging/endpoints/test_worker.py
  tests/messaging/helpers.py
  tests/messaging/inbox/test_backpressure.py
  tests/messaging/inbox/test_listener.py
  tests/messaging/outbox/test_relay.py
  tests/messaging/test_inbound_config.py
  tests/messaging/test_listener_backpressure_integration.py
  tests/messaging/transport/faststream/test_rabbitmq.py
  tests/messaging/transport/test_registry.py
Due: lint, typecheck-mypy, typecheck-ty

feat(messaging): add Kafka transport (aiokafka) with group_id partition key
  pyproject.toml
  src/waku/messaging/outbox/relay.py
  src/waku/messaging/transport/faststream/kafka.py
  src/waku/messaging/transport/faststream/rabbitmq.py
  src/waku/messaging/transport/interfaces.py
  tests/messaging/outbox/test_relay.py
  tests/messaging/test_kafka_inbound_integration.py
  tests/messaging/transport/faststream/test_kafka.py
  tests/messaging/transport/faststream/test_rabbitmq.py
  tests/messaging/transport/test_interfaces.py
  uv.lock
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

chore: upgrade deps
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix(tests): drop stale RUF076 noqa unused after ruff 0.15.20 removed the rule
  tests/conftest.py
Due: lint, typecheck-mypy, typecheck-ty
