Repository waku-py/waku: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, lint, typecheck-mypy, typecheck-ty

uv-lock-check:
  name: uv-lock-check
  entry: uv lock --locked
  language: system
  pass_filenames: false
  fail_fast: true

lint:
  name: Run code linting
  entry: task lint -- --output-format=concise
  language: system
  pass_filenames: false
  fail_fast: true
  stages:
  - pre-commit
  - pre-push
  - manual

typecheck-mypy:
  name: Run type checking with MyPy
  entry: env MYPY_PRETTY=0 task typecheck
  language: system
  pass_filenames: false
  fail_fast: true
  stages:
  - pre-push
  - manual

typecheck-ty:
  name: Run type checking with Ty
  entry: task ty
  language: system
  pass_filenames: false
  fail_fast: true
  stages:
  - pre-commit
  - pre-push
  - manual

feat(es): add attempt context template method to handlers
  docs/features/eventsourcing/aggregates.md
  pyproject.toml
  src/waku/application.py
  src/waku/eventsourcing/_retry.py
  src/waku/eventsourcing/decider/handler.py
  src/waku/eventsourcing/handler.py
  src/waku/testing.py
  tests/eventsourcing/decider/test_decider_handler.py
  tests/eventsourcing/helpers.py
  tests/eventsourcing/test_handler.py
  tests/eventsourcing/test_retry.py
  uv.lock
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

chore(release): 0.36.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

chore(release): 0.37.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

refactor(messaging)!: remove IRequestHandler and IEventHandler protocols
  pyproject.toml
  src/waku/messaging/__init__.py
  src/waku/messaging/events/__init__.py
  src/waku/messaging/events/handler.py
  src/waku/messaging/events/publish.py
  src/waku/messaging/exceptions.py
  src/waku/messaging/impl.py
  src/waku/messaging/requests/handler.py
  uv.lock
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

docs(messaging): update documentation for Critter Stack transition
  README.md
  docs/features/messaging/events.md
  docs/features/messaging/index.md
  docs/features/messaging/pipeline.md
  docs/features/messaging/requests.md
Due: none

chore(release): 0.38.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

refactor(messaging)!: redesign pipeline behaviors
  docs/features/messaging/events.md
  docs/features/messaging/index.md
  docs/features/messaging/pipeline.md
  examples/messaging/pipeline_behaviors.py
  src/waku/eventsourcing/decider/handler.py
  src/waku/eventsourcing/handler.py
  src/waku/messaging/__init__.py
  src/waku/messaging/_introspection.py
  src/waku/messaging/contracts/__init__.py
  src/waku/messaging/contracts/event.py
  src/waku/messaging/contracts/message.py
  src/waku/messaging/contracts/pipeline.py
  src/waku/messaging/contracts/request.py
  src/waku/messaging/events/__init__.py
  src/waku/messaging/events/publish.py
  src/waku/messaging/exceptions.py
  src/waku/messaging/impl.py
  src/waku/messaging/interfaces.py
  src/waku/messaging/modules.py
  src/waku/messaging/pipeline/__init__.py
  src/waku/messaging/pipeline/chain.py
  src/waku/messaging/pipeline/executor.py
  src/waku/messaging/pipeline/map.py
  src/waku/messaging/requests/handler.py
  src/waku/messaging/requests/map.py
  tests/messaging/test_event_publishers.py
  tests/messaging/test_map_freeze.py
  tests/messaging/test_map_registration.py
  tests/messaging/test_message_bus.py
  tests/messaging/test_multi_module_handlers.py
  tests/messaging/test_utils.py
  tests/validation/test_handler_accessibility.py
Due: lint, typecheck-mypy, typecheck-ty

chore(release): 0.39.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

chore(release): 0.40.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat(es)!: pass stream version to `_idempotency_key` handler hook
  docs/features/eventsourcing/aggregates.md
  pyproject.toml
  src/waku/eventsourcing/decider/handler.py
  src/waku/eventsourcing/handler.py
  tests/eventsourcing/decider/test_decider_handler.py
  tests/eventsourcing/test_handler.py
  uv.lock
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

chore(release): 0.41.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix(messaging): enforce per-type route precedence over module-level routes
  docs/features/messaging/index.md
  docs/features/messaging/routing.md
  examples/messaging/message_context.py
  examples/messaging/routing.py
  src/waku/messaging/endpoints/base.py
  src/waku/messaging/modules.py
  src/waku/messaging/router.py
  src/waku/messaging/routing_builder.py
  tests/messaging/test_router.py
  tests/messaging/test_routing_builder.py
Due: lint, typecheck-mypy, typecheck-ty

chore(release): 0.41.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix(di): fix `override()` for containers with existing overrides
  src/waku/testing.py
  tests/testing/test_override.py
Due: lint, typecheck-mypy, typecheck-ty

chore(release): 0.41.2 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

refactor!: consolidate TypeVars and tighten type signatures
  docs/code/eventsourcing/decider/handler.py
  docs/code/eventsourcing/quickstart/commands.py
  docs/features/eventsourcing/aggregates.md
  examples/eventsourcing/basic_usage.py
  examples/eventsourcing/postgres/main.py
  pyproject.toml
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/contracts/__init__.py
  src/waku/eventsourcing/contracts/aggregate.py
  src/waku/eventsourcing/decider/handler.py
  src/waku/eventsourcing/exceptions.py
  src/waku/eventsourcing/handler.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/projection/gap_detection.py
  src/waku/eventsourcing/repository.py
  src/waku/eventsourcing/serialization/registry.py
  src/waku/eventsourcing/snapshot/repository.py
  src/waku/eventsourcing/testing.py
  src/waku/messaging/events/map.py
  src/waku/messaging/modules.py
  src/waku/messaging/pipeline/map.py
  src/waku/messaging/routing_builder.py
  src/waku/modules/_registry_builder.py
  tests/eventsourcing/decider/test_decider_handler.py
  tests/eventsourcing/test_contracts.py
  tests/messaging/test_map_registration.py
  tests/messaging/test_routing_builder.py
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

chore(release): 0.42.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

chore(release): 0.43.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

ci: add cleanup stale cloudflare pages previews by cron schedule
  .github/workflows/cleanup-preview.yml
Due: none

ci: fix cloudflare preview cleanup pagination
  .github/workflows/cleanup-preview.yml
Due: none

ci: only leave latest cloudflare pages preview deployment
  .github/workflows/cleanup-preview.yml
Due: none

ci: only leave latest cloudflare pages deployments
  .github/workflows/cleanup-cf-pages.yml
Due: none

feat: messaging transport 3
  src/waku/messaging/endpoints/base.py
  src/waku/messaging/errors/__init__.py
  src/waku/messaging/errors/dead_letter.py
  src/waku/messaging/errors/policy.py
  src/waku/messaging/modules.py
  src/waku/messaging/outbox/interfaces.py
  src/waku/messaging/transport/interfaces.py
  src/waku/messaging/transport/serialization.py
  tests/messaging/endpoints/test_executor.py
  tests/messaging/errors/test_writer.py
  tests/messaging/test_full_flow_integration.py
Due: lint, typecheck-mypy, typecheck-ty

feat: messaging transport 4
  src/waku/eventsourcing/projection/runner.py
  src/waku/messaging/_introspection.py
  src/waku/messaging/config.py
  src/waku/messaging/contracts/envelope.py
  src/waku/messaging/contracts/factory.py
  src/waku/messaging/endpoints/executor.py
  src/waku/messaging/errors/dead_letter.py
  src/waku/messaging/errors/writer.py
  src/waku/messaging/modules.py
  src/waku/messaging/outbox/relay.py
  tests/messaging/behaviors/__init__.py
  tests/messaging/behaviors/test_transactional.py
  tests/messaging/contracts/test_factory.py
  tests/messaging/endpoints/test_executor.py
  tests/messaging/endpoints/test_external.py
  tests/messaging/endpoints/test_local_queue.py
  tests/messaging/errors/test_policy.py
  tests/messaging/errors/test_writer.py
  tests/messaging/helpers.py
  tests/messaging/outbox/test_relay.py
  tests/messaging/test_endpoint_base.py
  tests/messaging/test_full_flow_integration.py
  tests/messaging/test_local_queue_endpoint.py
  tests/messaging/test_map_registration.py
  tests/messaging/test_router.py
  tests/messaging/test_transactional_behavior.py
  tests/messaging/test_utils.py
  tests/messaging/transport/faststream/test_transport.py
Due: lint, typecheck-mypy, typecheck-ty

Path conditions:
  uv-lock-check: any of: ^pyproject\.toml$
  lint: any of: \.py$
  typecheck-mypy: any of: \.py$
  typecheck-ty: any of: \.py$
