Repository waku-py/waku: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, lint, typecheck-mypy, typecheck-ty

uv-lock-check:
  name: uv-lock-check
  entry: uv lock --locked
  language: system
  pass_filenames: false
  fail_fast: true

lint:
  name: Run code linting
  entry: task lint -- --output-format=concise
  language: system
  pass_filenames: false
  fail_fast: true
  stages:
  - pre-commit
  - pre-push
  - manual

typecheck-mypy:
  name: Run type checking with MyPy
  entry: env MYPY_PRETTY=0 task typecheck
  language: system
  pass_filenames: false
  fail_fast: true
  stages:
  - pre-push
  - manual

typecheck-ty:
  name: Run type checking with Ty
  entry: task ty
  language: system
  pass_filenames: false
  fail_fast: true
  stages:
  - pre-commit
  - pre-push
  - manual

feat: add event sourcing extension 9
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/contracts/__init__.py
  src/waku/eventsourcing/exceptions.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/projection/__init__.py
  src/waku/eventsourcing/projection/adaptive_interval.py
  src/waku/eventsourcing/projection/config.py
  src/waku/eventsourcing/projection/interfaces.py
  src/waku/eventsourcing/projection/lock/__init__.py
  src/waku/eventsourcing/projection/lock/in_memory.py
  src/waku/eventsourcing/projection/lock/interfaces.py
  src/waku/eventsourcing/projection/lock/sqlalchemy/__init__.py
  src/waku/eventsourcing/projection/lock/sqlalchemy/advisory.py
  src/waku/eventsourcing/projection/lock/sqlalchemy/lock.py
  src/waku/eventsourcing/projection/lock/sqlalchemy/tables.py
  src/waku/eventsourcing/projection/processor.py
  src/waku/eventsourcing/projection/runner.py
  src/waku/eventsourcing/store/in_memory.py
  tests/eventsourcing/conftest.py
  tests/eventsourcing/projection/helpers.py
  tests/eventsourcing/projection/test_adaptive_interval.py
  tests/eventsourcing/projection/test_advisory_lock.py
  tests/eventsourcing/projection/test_config.py
  tests/eventsourcing/projection/test_lease_lock.py
  tests/eventsourcing/projection/test_lock.py
  tests/eventsourcing/projection/test_processor.py
  tests/eventsourcing/projection/test_projection.py
  tests/eventsourcing/projection/test_runner.py
  tests/eventsourcing/test_contracts.py
  tests/eventsourcing/test_modules.py
Due: lint, typecheck-mypy, typecheck-ty

feat: add event sourcing extension 7
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/projection/__init__.py
  src/waku/eventsourcing/projection/checkpoint.py
  src/waku/eventsourcing/projection/in_memory.py
  src/waku/eventsourcing/projection/interfaces.py
  src/waku/eventsourcing/projection/sqlalchemy/__init__.py
  src/waku/eventsourcing/projection/sqlalchemy/store.py
  src/waku/eventsourcing/projection/sqlalchemy/tables.py
  src/waku/eventsourcing/snapshot/sqlalchemy/tables.py
  src/waku/eventsourcing/store/sqlalchemy/store.py
  src/waku/eventsourcing/store/sqlalchemy/tables.py
  tests/eventsourcing/conftest.py
  tests/eventsourcing/projection/__init__.py
  tests/eventsourcing/projection/conftest.py
  tests/eventsourcing/projection/test_checkpoint_store_contract.py
  tests/eventsourcing/projection/test_projection.py
  tests/eventsourcing/store/test_event_store_contract.py
Due: lint, typecheck-mypy, typecheck-ty

feat: add event sourcing extension 8
  src/waku/eventsourcing/contracts/stream.py
  src/waku/eventsourcing/store/in_memory.py
  src/waku/eventsourcing/store/sqlalchemy/store.py
  tests/eventsourcing/test_contracts.py
Due: lint, typecheck-mypy, typecheck-ty

feat: add event sourcing extension 6
  tests/eventsourcing/domain.py
  tests/eventsourcing/snapshot/conftest.py
  tests/eventsourcing/snapshot/test_snapshot_repository.py
  tests/eventsourcing/snapshot/test_snapshot_store_contract.py
  tests/eventsourcing/store/conftest.py
  tests/eventsourcing/store/domain.py
  tests/eventsourcing/store/test_event_store_contract.py
  tests/eventsourcing/store/test_sqlalchemy_store.py
  tests/eventsourcing/test_handler.py
  tests/eventsourcing/test_repository.py
  tests/eventsourcing/test_sqlalchemy_modules.py
Due: lint, typecheck-mypy, typecheck-ty

feat(ext): add built-in upcasting helpers
  src/waku/eventsourcing/upcasting/helpers.py
  tests/eventsourcing/upcasting/test_helpers.py
Due: lint, typecheck-mypy, typecheck-ty

feat: add event sourcing extension 2
  examples/eventsourcing/__init__.py
  examples/eventsourcing/basic_usage.py
  pyproject.toml
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/exceptions.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/projection/__init__.py
  src/waku/eventsourcing/projection/interfaces.py
  src/waku/eventsourcing/serialization/__init__.py
  src/waku/eventsourcing/serialization/interfaces.py
  src/waku/eventsourcing/serialization/json.py
  src/waku/eventsourcing/serialization/registry.py
  src/waku/eventsourcing/snapshot/__init__.py
  src/waku/eventsourcing/snapshot/interfaces.py
  src/waku/eventsourcing/snapshot/repository.py
  src/waku/eventsourcing/snapshot/sqlalchemy/__init__.py
  src/waku/eventsourcing/snapshot/sqlalchemy/store.py
  src/waku/eventsourcing/snapshot/sqlalchemy/tables.py
  src/waku/eventsourcing/snapshot/strategy.py
  src/waku/eventsourcing/store/sqlalchemy/__init__.py
  src/waku/eventsourcing/store/sqlalchemy/store.py
  src/waku/eventsourcing/store/sqlalchemy/tables.py
  tests/eventsourcing/conftest.py
  tests/eventsourcing/serialization/__init__.py
  tests/eventsourcing/serialization/test_json_serializer.py
  tests/eventsourcing/serialization/test_registry.py
  tests/eventsourcing/snapshot/__init__.py
  tests/eventsourcing/snapshot/conftest.py
  tests/eventsourcing/snapshot/test_snapshot_repository.py
  tests/eventsourcing/snapshot/test_sqlalchemy_snapshot_store.py
  tests/eventsourcing/snapshot/test_strategy.py
  tests/eventsourcing/store/__init__.py
  tests/eventsourcing/store/conftest.py
  tests/eventsourcing/store/test_sqlalchemy_store.py
  tests/eventsourcing/test_sqlalchemy_modules.py
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

feat(ext): add IEventUpcaster ABC and FnUpcaster adapter
  src/waku/eventsourcing/upcasting/__init__.py
  src/waku/eventsourcing/upcasting/fn.py
  src/waku/eventsourcing/upcasting/interfaces.py
  tests/eventsourcing/upcasting/__init__.py
  tests/eventsourcing/upcasting/test_fn_upcaster.py
Due: lint, typecheck-mypy, typecheck-ty

feat(ext): add UpcasterChainError exception
  src/waku/eventsourcing/exceptions.py
  tests/eventsourcing/upcasting/test_chain_error.py
Due: lint, typecheck-mypy, typecheck-ty

docs(di): write conditional providers documentation
  docs/advanced/conditional-providers.md
Due: none

docs(ext): write CQRS / Mediator documentation
  docs/extensions/cqrs.md
Due: none

docs: restructure nav — core/ to fundamentals/, delete examples
  docs/examples/cqrs.md
  docs/examples/eventsourcing.md
  docs/examples/modularity.md
  docs/extensions/lifecycle.md
  docs/fundamentals/integrations.md
  docs/fundamentals/lifespan.md
  docs/fundamentals/modules.md
  docs/fundamentals/providers.md
Due: none

docs(ext): write custom extensions documentation
  docs/advanced/custom-extensions.md
Due: none

feat(ext): add schema_version column to es_events table
  src/waku/eventsourcing/store/sqlalchemy/tables.py
  tests/eventsourcing/upcasting/test_schema_version_column.py
Due: lint, typecheck-mypy, typecheck-ty

docs: add core documentation improvement design
  docs/plans/2026-02-14-core-documentation-design.md
Due: none

feat(ext): add version tracking to EventTypeRegistry
  src/waku/eventsourcing/serialization/registry.py
  tests/eventsourcing/serialization/test_registry.py
Due: lint, typecheck-mypy, typecheck-ty

docs(ext): write lifecycle hooks overview documentation
  docs/extensions/lifecycle.md
Due: none

fix(ext): address review findings in upcasting implementation
  src/waku/eventsourcing/upcasting/fn.py
  src/waku/eventsourcing/upcasting/helpers.py
  tests/eventsourcing/upcasting/test_helpers.py
  tests/eventsourcing/upcasting/test_sqlalchemy_upcasting.py
Due: lint, typecheck-mypy, typecheck-ty

docs(core): write testing utilities documentation
  docs/fundamentals/testing.md
Due: none

docs(core): write lifespan management documentation
  docs/fundamentals/lifespan.md
Due: none

feat(ext): add version/upcasters to EventType and wire UpcasterChain in aggregator
  src/waku/eventsourcing/modules.py
  tests/eventsourcing/test_modules.py
Due: lint, typecheck-mypy, typecheck-ty

feat: add event sourcing extension 12
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/contracts/aggregate.py
  src/waku/eventsourcing/contracts/event.py
  src/waku/eventsourcing/decider/__init__.py
  src/waku/eventsourcing/decider/handler.py
  src/waku/eventsourcing/decider/repository.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/repository.py
  src/waku/eventsourcing/serialization/json.py
  src/waku/eventsourcing/serialization/registry.py
  src/waku/eventsourcing/store/in_memory.py
  src/waku/eventsourcing/store/sqlalchemy/store.py
  tests/eventsourcing/decider/__init__.py
  tests/eventsourcing/decider/conftest.py
  tests/eventsourcing/decider/test_decider_handler.py
  tests/eventsourcing/decider/test_decider_modules.py
  tests/eventsourcing/decider/test_decider_repository.py
  tests/eventsourcing/decider/test_snapshot_decider_repository.py
Due: lint, typecheck-mypy, typecheck-ty

docs(ext): write validation documentation
  docs/extensions/validation.md
Due: none

docs: fix cross-references for new directory structure
  docs/getting-started.md
  docs/index.md
Due: none

feat(ext): write schema_version in InMemoryEventStore
  src/waku/eventsourcing/store/in_memory.py
  tests/eventsourcing/upcasting/test_in_memory_version.py
Due: lint, typecheck-mypy, typecheck-ty

docs: refine fundamentals docs
  .gitignore
  README.md
  docs/advanced/custom-extensions.md
  docs/advanced/di-patterns.md
  docs/assets/stylesheets/extra.css
  docs/code/getting_started/settings.py
  docs/code/providers/scopes/contextual_real.py
  docs/extensions/eventsourcing/index.md
  docs/extensions/validation.md
  docs/fundamentals/application.md
  docs/fundamentals/integrations.md
  docs/fundamentals/lifespan.md
  docs/fundamentals/modules.md
  docs/fundamentals/providers.md
  docs/fundamentals/testing.md
  docs/getting-started.md
  docs/index.md
  gitlint_plugins.py
  zensical.toml
Due: lint, typecheck-mypy, typecheck-ty

docs: update zensical.toml nav for new structure
  zensical.toml
Due: none

feat: add event sourcing extension 13
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/exceptions.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/serialization/registry.py
  tests/eventsourcing/serialization/test_registry.py
  tests/eventsourcing/test_modules.py
  tests/eventsourcing/test_multi_module_integration.py
Due: lint, typecheck-mypy, typecheck-ty

feat(ext): add upcasting to SqlAlchemyEventStore read/write paths
  src/waku/eventsourcing/store/sqlalchemy/store.py
  tests/eventsourcing/store/conftest.py
  tests/eventsourcing/upcasting/test_sqlalchemy_upcasting.py
Due: lint, typecheck-mypy, typecheck-ty

chore: remove plan files from tracking
  docs/plans/2026-02-14-core-documentation-design.md
  docs/plans/2026-02-14-core-documentation-plan.md
Due: none

docs(di): write multi-bindings documentation
  docs/advanced/multi-bindings.md
Due: none

style(core): replace double dashes with em dashes in documentation
  docs/advanced/conditional-providers.md
  docs/advanced/custom-extensions.md
  docs/advanced/di-patterns.md
  docs/advanced/multi-bindings.md
  docs/extensions/lifecycle.md
  docs/fundamentals/testing.md
Due: none

docs(di): write advanced DI patterns documentation
  docs/advanced/di-patterns.md
Due: none

test(ext): add end-to-end upcasting integration test through DI
  tests/eventsourcing/test_sqlalchemy_modules.py
  tests/eventsourcing/upcasting/test_exports.py
  tests/eventsourcing/upcasting/test_schema_version_column.py
Due: lint, typecheck-mypy, typecheck-ty

docs: add core documentation implementation plan
  docs/plans/2026-02-14-core-documentation-plan.md
Due: none

feat(ext): add schema_version field to StoredEvent
  src/waku/eventsourcing/contracts/event.py
  tests/eventsourcing/upcasting/test_stored_event_version.py
Due: lint, typecheck-mypy, typecheck-ty

feat(ext): export upcasting types from package
  src/waku/eventsourcing/__init__.py
  tests/eventsourcing/upcasting/test_exports.py
Due: lint, typecheck-mypy, typecheck-ty

chore: update deps
  pyproject.toml
  uv.lock
Due: uv-lock-check

docs: add further reading sections
  .github/workflows/deploy-docs.yml
  docs/advanced/conditional-providers.md
  docs/advanced/di-patterns.md
  docs/extensions/cqrs.md
  docs/extensions/eventsourcing/aggregates.md
  docs/extensions/eventsourcing/event-store.md
  docs/extensions/eventsourcing/index.md
  docs/extensions/eventsourcing/projections.md
  docs/extensions/eventsourcing/schema-evolution.md
  docs/extensions/eventsourcing/snapshots.md
  docs/extensions/eventsourcing/testing.md
  docs/extensions/lifecycle.md
  docs/extensions/validation.md
  docs/fundamentals/application.md
  docs/fundamentals/integrations.md
  docs/fundamentals/providers.md
  docs/fundamentals/testing.md
  docs/getting-started.md
  docs/index.md
Due: none

Path conditions:
  uv-lock-check: any of: ^pyproject\.toml$
  lint: any of: \.py$
  typecheck-mypy: any of: \.py$
  typecheck-ty: any of: \.py$
