Repository waku-py/waku: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, lint, typecheck

.pre-commit-config.yaml:

# Pre-commit configuration for waku
# See https://pre-commit.com for more information
default_install_hook_types: [ pre-commit, pre-push, commit-msg ]
default_stages: [ pre-commit, pre-push, manual ]

# TODO: Run pre-commit in CI, use lefthook for local checks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args: [ '--branch', 'master' ]

      - id: check-yaml
        args: [ '--unsafe' ]
        files: \.(yaml|yml)$

      - id: check-toml
        files: \.toml$

      - id: check-merge-conflict

      - id: end-of-file-fixer
        exclude: '^uv\.lock$'

      - id: trailing-whitespace
        args: [ --markdown-linebreak-ext=md ]

      - id: mixed-line-ending
        args: [ --fix=lf ]

      - id: check-case-conflict

      - id: detect-private-key

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies: [ tomli ]
        exclude: '^uv\.lock$'
        args:
          - --skip="*.lock"
        files: \.(py|md|rst|yml|yaml|json)$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.0
    hooks:
      - id: check-github-workflows
        files: ^\.github/workflows/.*\.ya?ml$

      - id: check-renovate
        files: ^\.github/renovate\.json$

  - repo: local
    hooks:
      - id: commit-msg
        name: check commit message
        stages: [ commit-msg ]
        language: system
        entry: gitlint --msg-filename
        fail_fast: true

      - id: uv-lock-check
        name: uv-lock-check
        entry: uv lock --locked
        language: system
        pass_filenames: false
        files: '^pyproject\.toml$'
        fail_fast: true

      - id: lint
        name: Run code linting
        entry: task lint -- --output-format=concise
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-commit, pre-push ]

      - id: typecheck
        name: Run type checking
        entry: env MYPY_PRETTY=0 task typecheck
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push ]  # Run on push only to speed up commits

      - id: deptry
        name: Check dependency usage
        entry: task deptry
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push ]  # Run on push only to speed up commits

      - id: security-check
        name: Run security checks
        entry: task security-audit
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push ]  # Run on push only to speed up commits
        verbose: true

exclude: |
  (?x)^(
    \.venv/.*|
    dist/.*|
    build/.*|
    \.*_cache/.*|
    \.git/.*|
    \.idea/.*
  )$

Deployed 4fa6850 with MkDocs version: 1.6.1
  changelog/index.html
  index.html
  objects.inv
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

chore(release): 0.16.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

test(validation): add test for generic providers usage
  tests/validation/test_dependencies_accessible.py
Due: lint, typecheck

chore: use custom changelog template (#109)
  CHANGELOG.md
  config/release-templates/.components/changelog_header.md.j2
  config/release-templates/.components/changelog_init.md.j2
  config/release-templates/.components/changelog_update.md.j2
  config/release-templates/.components/changes.md.j2
  config/release-templates/.components/first_release.md.j2
  config/release-templates/.components/macros.md.j2
  config/release-templates/.components/unreleased_changes.md.j2
  config/release-templates/.components/versioned_changes.md.j2
  config/release-templates/.release_notes.md.j2
  config/release-templates/CHANGELOG.md.j2
  pyproject.toml
Due: uv-lock-check

Deployed e9b7dfb with MkDocs version: 1.6.1
  changelog/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed 8b84864 with MkDocs version: 1.6.1
  404.html
  changelog/index.html
  code/examples/__init__.py
  code/examples/mediator.py
  code/examples/modularity.py
  contributing/index.html
  examples/cqrs/index.html
  examples/mediator/index.html
  examples/modularity/index.html
  getting-started/index.html
  index.html
  integrations/asgi/index.html
  integrations/litestar/index.html
  objects.inv
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  usage/cqrs/index.html
  usage/extensions/index.html
  usage/extensions/validation/index.html
  usage/lifespan/index.html
  usage/modules/index.html
  usage/providers/index.html
Due: lint, typecheck

chore(release): 0.17.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

build: introduce astral-sh `ty` as additional typechecker
  .pre-commit-config.yaml
  CHANGELOG.md
  Taskfile.yml
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: uv-lock-check, lint, typecheck

Deployed 4eb9758 with MkDocs version: 1.6.1
  changelog/index.html
  search/search_index.json
Due: none

chore: fix changelog generation
  CHANGELOG.md
  config/release-templates/.components/changelog_update.md.j2
  config/release-templates/.components/changes.md.j2
  config/release-templates/.components/versioned_changes.md.j2
Due: none

Deployed a2ee0d2 with MkDocs version: 1.6.1
  changelog/index.html
  search/search_index.json
Due: none

docs: fix `markdownlint` issues in README and CONTRIBUTING files
  CONTRIBUTING.md
  README.md
  docs/contributing/docs.md
  docs/getting-started.md
Due: none

Deployed cd3821e with MkDocs version: 1.6.1
  contributing/docs/index.html
  contributing/index.html
  getting-started/index.html
  index.html
  search/search_index.json
Due: none

feat(ext): implement extension registry
  .editorconfig
  src/waku/application.py
  src/waku/ext/__init__.py
  src/waku/ext/validation/__init__.py
  src/waku/ext/validation/rules/__init__.py
  src/waku/extensions/__init__.py
  src/waku/extensions/protocols.py
  src/waku/extensions/registry.py
  src/waku/factory.py
  src/waku/modules/_module.py
  src/waku/modules/_registry.py
  src/waku/modules/_registry_builder.py
  src/waku/validation/__init__.py
  src/waku/validation/_abc.py
  src/waku/validation/_errors.py
  src/waku/validation/_extension.py
  src/waku/validation/rules/__init__.py
  src/waku/validation/rules/_cache.py
  src/waku/validation/rules/_types_extractor.py
  src/waku/validation/rules/dependency_accessible.py
  tests/extensions/test_registry.py
  tests/validation/test_dependencies_accessible.py
Due: lint, typecheck

Deployed 6e88840 with MkDocs version: 1.6.1
  404.html
  assets/javascripts/bundle.13a4f30d.min.js
  assets/javascripts/bundle.13a4f30d.min.js.map
  assets/javascripts/bundle.c8b220af.min.js
  assets/javascripts/bundle.c8b220af.min.js.map
  assets/javascripts/workers/search.d50fe291.min.js
  assets/javascripts/workers/search.d50fe291.min.js.map
  assets/javascripts/workers/search.f8cc74c7.min.js
  assets/stylesheets/main.2afb09e1.min.css
  assets/stylesheets/main.2afb09e1.min.css.map
  assets/stylesheets/main.342714a4.min.css
  assets/stylesheets/main.342714a4.min.css.map
  changelog/index.html
  contributing/docs/index.html
  contributing/index.html
  examples/cqrs/index.html
  examples/modularity/index.html
  getting-started/index.html
  index.html
  integrations/asgi/index.html
  integrations/litestar/index.html
  objects.inv
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  usage/cqrs/index.html
  usage/extensions/index.html
  usage/extensions/validation/index.html
  usage/lifespan/index.html
  usage/modules/index.html
  usage/providers/index.html
Due: none

chore(release): 0.18.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

ci: add codecov reports
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
  README.md
Due: none

Deployed 660ff06 with MkDocs version: 1.6.1
  404.html
  changelog/index.html
  contributing/docs/index.html
  contributing/index.html
  examples/cqrs/index.html
  examples/modularity/index.html
  getting-started/index.html
  index.html
  integrations/asgi/index.html
  integrations/litestar/index.html
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  usage/cqrs/index.html
  usage/extensions/index.html
  usage/extensions/validation/index.html
  usage/lifespan/index.html
  usage/modules/index.html
  usage/providers/index.html
Due: none

ci: fix codecov upload
  .github/workflows/validate.yml
Due: none

ci: upload junit reports to codecov
  .github/workflows/validate.yml
Due: none

docs: improve readme
  README.md
  docs/integrations/index.md
  mkdocs.yml
Due: none

Deployed 4e19320 with MkDocs version: 1.6.1
  404.html
  changelog/index.html
  contributing/docs/index.html
  contributing/index.html
  examples/cqrs/index.html
  examples/modularity/index.html
  getting-started/index.html
  index.html
  integrations/asgi/index.html
  integrations/index.html
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  usage/cqrs/index.html
  usage/extensions/index.html
  usage/extensions/validation/index.html
  usage/lifespan/index.html
  usage/modules/index.html
  usage/providers/index.html
Due: none

chore: require locked project in taskfile test step
  .github/changed-files-spec.yml
  Taskfile.yml
  pyproject.toml
Due: uv-lock-check

docs: further improve README
  README.md
Due: none

Deployed f4272c6 with MkDocs version: 1.6.1
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

chore(deps): set minimal dishka version to 1.6.0
  pyproject.toml
  uv.lock
Due: uv-lock-check

Deployed 575c3a8 with MkDocs version: 1.6.1
  assets/_mkdocstrings.css
  changelog/index.html
  contributing/docs/index.html
  contributing/index.html
  examples/cqrs/index.html
  examples/modularity/index.html
  getting-started/index.html
  index.html
  integrations/asgi/index.html
  integrations/index.html
  integrations/litestar/index.html
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  usage/cqrs/index.html
  usage/extensions/index.html
  usage/extensions/validation/index.html
  usage/lifespan/index.html
  usage/modules/index.html
  usage/providers/index.html
Due: none

docs: update examples and documentation to reflect dishka migration
  docs/code/getting_started/application.py
  docs/code/getting_started/main.py
  docs/code/providers/injecting.py
  docs/code/providers/scopes/contextual.py
  docs/code/providers/scopes/contextual_real.py
  docs/code/providers/scopes/scoped.py
  docs/code/providers/scopes/singleton.py
  docs/code/providers/scopes/transient.py
  docs/getting-started.md
  docs/usage/providers.md
  examples/contextual_provider.py
  src/waku/factory.py
Due: lint, typecheck

Deployed 3ce62e0 with MkDocs version: 1.6.1
  changelog/index.html
  code/getting_started/application.py
  code/getting_started/main.py
  code/providers/injecting.py
  code/providers/scopes/contextual.py
  code/providers/scopes/contextual_real.py
  code/providers/scopes/scoped.py
  code/providers/scopes/singleton.py
  code/providers/scopes/transient.py
  getting-started/index.html
  index.html
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  usage/providers/index.html
Due: lint, typecheck
