Repository waku-py/waku: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, lint, typecheck

.pre-commit-config.yaml:

# Pre-commit configuration for waku
# See https://pre-commit.com for more information
default_install_hook_types: [ pre-commit, pre-push, commit-msg ]
default_stages: [ pre-commit, pre-push, manual ]

# TODO: Run pre-commit in CI, use lefthook for local checks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args: [ '--branch', 'master' ]

      - id: check-yaml
        args: [ '--unsafe' ]
        files: \.(yaml|yml)$

      - id: check-toml
        files: \.toml$

      - id: check-merge-conflict

      - id: end-of-file-fixer
        exclude: '^uv\.lock$'

      - id: trailing-whitespace
        args: [ --markdown-linebreak-ext=md ]

      - id: mixed-line-ending
        args: [ --fix=lf ]

      - id: check-case-conflict

      - id: detect-private-key

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies: [ tomli ]
        exclude: '^uv\.lock$'
        args:
          - --skip="*.lock"
        files: \.(py|md|rst|yml|yaml|json)$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.0
    hooks:
      - id: check-github-workflows
        files: ^\.github/workflows/.*\.ya?ml$

      - id: check-renovate
        files: ^\.github/renovate\.json$

  - repo: local
    hooks:
      - id: commit-msg
        name: check commit message
        stages: [ commit-msg ]
        language: system
        entry: gitlint --msg-filename
        fail_fast: true

      - id: uv-lock-check
        name: uv-lock-check
        entry: uv lock --locked
        language: system
        pass_filenames: false
        files: '^pyproject\.toml$'
        fail_fast: true

      - id: lint
        name: Run code linting
        entry: task lint -- --output-format=concise
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-commit, pre-push ]

      - id: typecheck
        name: Run type checking
        entry: env MYPY_PRETTY=0 task typecheck
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push ]  # Run on push only to speed up commits

      - id: deptry
        name: Check dependency usage
        entry: task deptry
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push ]  # Run on push only to speed up commits

      - id: security-check
        name: Run security checks
        entry: task security-audit
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push ]  # Run on push only to speed up commits
        verbose: true

exclude: |
  (?x)^(
    \.venv/.*|
    dist/.*|
    build/.*|
    \.*_cache/.*|
    \.git/.*|
    \.idea/.*
  )$

chore(release): 0.7.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

docs: improve readme, add motivation section
  README.md
Due: none

Deployed 059e5c9 with MkDocs version: 1.6.1
  changelog/index.html
  index.html
  search/search_index.json
Due: none

feat!: migrate to dishka as ioc provider
  README.md
  docs/code/examples/mediator.py
  docs/code/examples/modularity.py
  mkdocs.yml
  pyproject.toml
  src/waku/application.py
  src/waku/container.py
  src/waku/contrib/__init__.py
  src/waku/contrib/asgi.py
  src/waku/contrib/litestar.py
  src/waku/di.py
  src/waku/di/__init__.py
  src/waku/di/_context.py
  src/waku/di/_inject.py
  src/waku/di/_markers.py
  src/waku/di/_providers.py
  src/waku/di/_types.py
  src/waku/di/_utils.py
  src/waku/di/contrib/__init__.py
  src/waku/di/contrib/aioinject.py
  src/waku/ext/__init__.py
  src/waku/ext/validation/rules.py
  src/waku/factory.py
  src/waku/graph.py
  src/waku/mediator/impl.py
  src/waku/mediator/middlewares.py
  src/waku/mediator/modules.py
  src/waku/modules/_metadata.py
  src/waku/modules/_module.py
  tests/mock.py
  tests/test_application.py
  tests/validation/test_dependencies_accessible.py
  tests/validation/test_scope_mismatch.py
  uv.lock
Due: uv-lock-check, lint, typecheck

Deployed 7296122 with MkDocs version: 1.6.1
  code/examples/mediator.py
  code/examples/modularity.py
  examples/mediator/index.html
  examples/modularity/index.html
  index.html
  objects.inv
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: lint, typecheck

chore(release): 0.8.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

docs: actualize readme file
  README.md
Due: none

Deployed 1001875 with MkDocs version: 1.6.1
  404.html
  assets/stylesheets/main.2afb09e1.min.css
  assets/stylesheets/main.2afb09e1.min.css.map
  assets/stylesheets/main.4af4bdda.min.css
  assets/stylesheets/main.4af4bdda.min.css.map
  changelog/index.html
  contributing/docs/index.html
  contributing/index.html
  examples/mediator/index.html
  examples/modularity/index.html
  getting-started/index.html
  index.html
  integrations/asgi/index.html
  integrations/litestar/index.html
  reference/index.html
  search/search_index.json
  usage/extensions/index.html
  usage/extensions/validation/index.html
  usage/lifespan/index.html
  usage/mediator/index.html
  usage/modules/index.html
  usage/providers/index.html
Due: none

fix: skip context providers when validation that deps accessible
  README.md
  src/waku/di.py
  src/waku/ext/validation/rules.py
  src/waku/mediator/modules.py
  tests/test_application.py
  tests/validation/test_dependencies_accessible.py
Due: lint, typecheck

Deployed 12d658e with MkDocs version: 1.6.1
  index.html
  objects.inv
  reference/index.html
  search/search_index.json
Due: none

docs: fix readme formatting
  README.md
Due: none

Deployed 116e424 with MkDocs version: 1.6.1
  index.html
  search/search_index.json
Due: none

fix: trigger release
  README.md
Due: none

Deployed 2d31df1 with MkDocs version: 1.6.1
  index.html
  search/search_index.json
Due: none

feat: add container override helper to application
  src/waku/application.py
Due: lint, typecheck

feat: add di helpers, add testing override helper
  README.md
  docs/code/examples/mediator.py
  docs/code/examples/modularity.py
  pyproject.toml
  src/waku/application.py
  src/waku/di.py
  src/waku/ext/validation/rules.py
  src/waku/factory.py
  src/waku/mediator/events/publish.py
  src/waku/mediator/impl.py
  src/waku/mediator/middlewares.py
  src/waku/mediator/modules.py
  src/waku/modules/_metadata.py
  src/waku/modules/_module.py
  src/waku/testing.py
  tests/conftest.py
  tests/test_application.py
  tests/test_di.py
  tests/test_testing.py
  tests/validation/test_dependencies_accessible.py
  uv.lock
Due: uv-lock-check, lint, typecheck

Deployed 66d7bb5 with MkDocs version: 1.6.1
  code/examples/mediator.py
  code/examples/modularity.py
  examples/mediator/index.html
  examples/modularity/index.html
  index.html
  objects.inv
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: lint, typecheck

chore(release): 0.9.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

perf: optimize DependenciesAccessible rule
  src/waku/ext/validation/rules.py
Due: lint, typecheck

Deployed 8eb1ae2 with MkDocs version: 1.6.1
  changelog/index.html
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

chore(release): 0.9.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat: re-export di related object from dishka
  README.md
  Taskfile.yml
  pyproject.toml
  src/waku/application.py
  src/waku/di.py
  src/waku/ext/validation/_abc.py
  src/waku/factory.py
  src/waku/graph.py
  src/waku/lifespan.py
  src/waku/mediator/impl.py
  src/waku/mediator/modules.py
  src/waku/mediator/utils.py
  src/waku/modules/_module.py
  src/waku/testing.py
  tests/test_application.py
  tests/test_testing.py
  tests/validation/test_dependencies_accessible.py
  uv.lock
Due: uv-lock-check, lint, typecheck

Deployed 820ddc4 with MkDocs version: 1.6.1
  changelog/index.html
  index.html
  objects.inv
  reference/index.html
  search/search_index.json
Due: none

chore(release): 0.10.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

docs: update README for clarity
  README.md
Due: none

Deployed efaf3d5 with MkDocs version: 1.6.1
  changelog/index.html
  index.html
  search/search_index.json
Due: none

docs: enhance contributing guide and README
  CONTRIBUTING.md
  README.md
  docs/contributing/index.md
Due: none

Deployed 6e4ddda with MkDocs version: 1.6.1
  contributing/index.html
  index.html
  search/search_index.json
Due: none

docs: fix issue with mediatr link in readme
  README.md
Due: none

Deployed 8435d2f with MkDocs version: 1.6.1
  index.html
  search/search_index.json
Due: none

docs: improve feature descriptions in README
  README.md
Due: none

Deployed 2d18bee with MkDocs version: 1.6.1
  index.html
  search/search_index.json
Due: none

docs: improve api reference docs generation; document override helper
  mkdocs.yml
  src/waku/mediator/middlewares.py
  src/waku/testing.py
Due: lint, typecheck

Deployed 48061d0 with MkDocs version: 1.6.1
  objects.inv
  reference/index.html
  search/search_index.json
Due: none

feat(core)!: replace ModuleGraph with ModuleRegistry for module management
  src/waku/application.py
  src/waku/di.py
  src/waku/exceptions.py
  src/waku/ext/validation/rules.py
  src/waku/factory.py
  src/waku/graph.py
  src/waku/mediator/exceptions.py
  src/waku/modules/__init__.py
  src/waku/modules/_metadata.py
  src/waku/modules/_module.py
  src/waku/modules/_registry.py
  src/waku/modules/_registry_builder.py
  src/waku/testing.py
  tests/validation/test_dependencies_accessible.py
Due: lint, typecheck
