Repository waku-py/waku: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, lint, typecheck-mypy, typecheck-ty

uv-lock-check:
  name: uv-lock-check
  entry: uv lock --locked
  language: system
  pass_filenames: false
  fail_fast: true

lint:
  name: Run code linting
  entry: task lint -- --output-format=concise
  language: system
  pass_filenames: false
  fail_fast: true
  stages:
  - pre-commit
  - pre-push
  - manual

typecheck-mypy:
  name: Run type checking with MyPy
  entry: env MYPY_PRETTY=0 task typecheck
  language: system
  pass_filenames: false
  fail_fast: true
  stages:
  - pre-push
  - manual

typecheck-ty:
  name: Run type checking with Ty
  entry: task ty
  language: system
  pass_filenames: false
  fail_fast: true
  stages:
  - pre-commit
  - pre-push
  - manual

docs: refine contributing
  CONTRIBUTING.md
  Taskfile.yml
  docs/contributing/contributing.md
  gitlint_plugins.py
Due: lint, typecheck-mypy, typecheck-ty

docs: add docs preview workflow
  .github/workflows/deploy-docs.yml
  .github/workflows/preview-docs.yml
Due: none

docs: refine advanced section
  docs/advanced/di/conditional-providers.md
  docs/advanced/di/di-patterns.md
  docs/advanced/di/index.md
  docs/advanced/di/multi-bindings.md
  docs/assets/favicon.svg
  docs/fundamentals/providers.md
  zensical.toml
Due: none

docs: refine introductions
  .github/changed-files-spec.yml
  README.md
  docs/code/getting_started/greetings/services.py
  docs/code/getting_started/users/services.py
  docs/getting-started.md
  docs/index.md
  zensical.toml
Due: lint, typecheck-mypy, typecheck-ty

docs: restructure advanced section
  docs/advanced/di-patterns.md
  docs/advanced/di/conditional-providers.md
  docs/advanced/di/di-patterns.md
  docs/advanced/di/index.md
  docs/advanced/di/multi-bindings.md
  docs/assets/stylesheets/extra.css
  docs/extensions/custom-extensions.md
  docs/extensions/lifecycle.md
  docs/extensions/validation.md
  docs/fundamentals/modules.md
  docs/fundamentals/providers.md
  src/waku/di/__init__.py
  zensical.toml
Due: lint, typecheck-mypy, typecheck-ty

docs: change logo
  docs/assets/kanji-logo.svg
  docs/assets/logo.png
  docs/assets/stylesheets/extra.css
  docs/contributing/docs.md
  docs/index.md
Due: none

docs: refine features docs
  docs/advanced/di/di-patterns.md
  docs/advanced/extensions/custom-extensions.md
  docs/advanced/extensions/index.md
  docs/advanced/index.md
  docs/assets/stylesheets/extra.css
  docs/extensions/cqrs.md
  docs/extensions/lifecycle.md
  docs/features/cqrs/events.md
  docs/features/cqrs/index.md
  docs/features/cqrs/pipeline.md
  docs/features/cqrs/requests.md
  docs/features/eventsourcing/aggregates.md
  docs/features/eventsourcing/event-store.md
  docs/features/eventsourcing/index.md
  docs/features/eventsourcing/projections.md
  docs/features/eventsourcing/schema-evolution.md
  docs/features/eventsourcing/snapshots.md
  docs/features/eventsourcing/testing.md
  docs/features/index.md
  docs/features/validation.md
  docs/fundamentals/application.md
  docs/fundamentals/modules.md
  docs/fundamentals/testing.md
  docs/getting-started.md
  docs/index.md
  pyproject.toml
  src/waku/cqrs/modules.py
  src/waku/extensions/__init__.py
  src/waku/extensions/protocols.py
  src/waku/validation/__init__.py
  zensical.toml
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

docs: refine es docs
  docs/code/eventsourcing/decider/decider.py
  docs/code/eventsourcing/postgres_setup.py
  docs/code/eventsourcing/projections/catch_up.py
  docs/code/eventsourcing/projections/inline.py
  docs/code/eventsourcing/testing/integration_test.py
  docs/features/cqrs/index.md
  docs/features/eventsourcing/aggregates.md
  docs/features/eventsourcing/event-store.md
  docs/features/eventsourcing/index.md
  docs/features/eventsourcing/projections.md
  docs/features/eventsourcing/schema-evolution.md
  docs/features/eventsourcing/snapshots.md
  docs/features/eventsourcing/testing.md
  src/waku/eventsourcing/__init__.py
Due: lint, typecheck-mypy, typecheck-ty

feat: refine es impl 2
  docs/features/eventsourcing/aggregates.md
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/contracts/stream.py
  src/waku/eventsourcing/decider/repository.py
  src/waku/eventsourcing/exceptions.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/snapshot/interfaces.py
  src/waku/eventsourcing/snapshot/repository.py
  src/waku/eventsourcing/snapshot/serialization.py
  tests/eventsourcing/snapshot/test_snapshot_repository.py
  tests/eventsourcing/test_contracts.py
  tests/eventsourcing/test_modules.py
Due: lint, typecheck-mypy, typecheck-ty

feat: refine es impl 3
  src/waku/eventsourcing/decider/repository.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/serialization/__init__.py
  src/waku/eventsourcing/serialization/interfaces.py
  src/waku/eventsourcing/serialization/json.py
  src/waku/eventsourcing/snapshot/__init__.py
  src/waku/eventsourcing/snapshot/interfaces.py
  src/waku/eventsourcing/snapshot/repository.py
  src/waku/eventsourcing/snapshot/serialization.py
  tests/eventsourcing/decider/test_snapshot_decider_repository.py
  tests/eventsourcing/snapshot/test_snapshot_repository.py
  tests/eventsourcing/snapshot/test_snapshot_state_serializer.py
Due: lint, typecheck-mypy, typecheck-ty

docs: refine es docs
  docs/features/eventsourcing/aggregates.md
  docs/features/eventsourcing/event-store.md
  docs/features/eventsourcing/index.md
  docs/features/eventsourcing/testing.md
Due: none

chore(release): 0.29.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

docs: refine introduction to have selling points section
  README.md
  docs/code/integrations/__init__.py
  docs/code/integrations/fastapi_example.py
  docs/fundamentals/application.md
  docs/fundamentals/integrations.md
  docs/fundamentals/modules.md
  docs/fundamentals/providers.md
  docs/getting-started.md
  docs/index.md
  pyproject.toml
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

docs: refine introduction with better structure
  README.md
  docs/getting-started.md
  docs/index.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

docs: add ask context7 widget
  .typos.toml
  context7.json
  overrides/main.html
  zensical.toml
Due: none

feat(es): add idempotency handling to event sourcing events stores
  src/waku/eventsourcing/contracts/event.py
  src/waku/eventsourcing/decider/handler.py
  src/waku/eventsourcing/decider/repository.py
  src/waku/eventsourcing/exceptions.py
  src/waku/eventsourcing/handler.py
  src/waku/eventsourcing/repository.py
  src/waku/eventsourcing/snapshot/repository.py
  src/waku/eventsourcing/store/in_memory.py
  src/waku/eventsourcing/store/sqlalchemy/store.py
  src/waku/eventsourcing/store/sqlalchemy/tables.py
  tests/eventsourcing/decider/test_decider_handler.py
  tests/eventsourcing/projection/helpers.py
  tests/eventsourcing/projection/test_processor.py
  tests/eventsourcing/store/domain.py
  tests/eventsourcing/store/test_event_store_contract.py
  tests/eventsourcing/store/test_metadata_enrichment.py
  tests/eventsourcing/test_contracts.py
  tests/eventsourcing/test_handler.py
  tests/eventsourcing/upcasting/test_in_memory_version.py
  tests/eventsourcing/upcasting/test_sqlalchemy_upcasting.py
  tests/eventsourcing/upcasting/test_stored_event_version.py
Due: lint, typecheck-mypy, typecheck-ty

feat(es): add snapshot schema versioning and large stream guard
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/decider/repository.py
  src/waku/eventsourcing/exceptions.py
  src/waku/eventsourcing/repository.py
  src/waku/eventsourcing/snapshot/__init__.py
  src/waku/eventsourcing/snapshot/interfaces.py
  src/waku/eventsourcing/snapshot/migration.py
  src/waku/eventsourcing/snapshot/repository.py
  src/waku/eventsourcing/snapshot/sqlalchemy/store.py
  src/waku/eventsourcing/snapshot/sqlalchemy/tables.py
  tests/eventsourcing/decider/conftest.py
  tests/eventsourcing/decider/test_decider_repository.py
  tests/eventsourcing/decider/test_snapshot_decider_repository.py
  tests/eventsourcing/snapshot/test_snapshot_migration.py
  tests/eventsourcing/snapshot/test_snapshot_repository.py
  tests/eventsourcing/snapshot/test_snapshot_store_contract.py
  tests/eventsourcing/test_repository.py
Due: lint, typecheck-mypy, typecheck-ty

fix(core): fix build phase mutations for multiple factory calls in single process
  src/waku/modules/_registry_builder.py
  tests/modules/test_metadata_isolation.py
Due: lint, typecheck-mypy, typecheck-ty

docs(es): reflect idempotency and schema versioning
  docs/code/eventsourcing/custom_serializer.py
  docs/code/eventsourcing/snapshots/migration.py
  docs/features/eventsourcing/aggregates.md
  docs/features/eventsourcing/event-store.md
  docs/features/eventsourcing/index.md
  docs/features/eventsourcing/projections.md
  docs/features/eventsourcing/schema-evolution.md
  docs/features/eventsourcing/snapshots.md
  docs/features/eventsourcing/testing.md
  src/waku/eventsourcing/serialization/__init__.py
  src/waku/eventsourcing/serialization/_retort.py
  src/waku/eventsourcing/serialization/json.py
Due: lint, typecheck-mypy, typecheck-ty

refactor(es): move snapshot configs from repo to extension
  docs/code/eventsourcing/snapshots/decider_modules.py
  docs/code/eventsourcing/snapshots/migration.py
  docs/code/eventsourcing/snapshots/oop_modules.py
  docs/features/eventsourcing/snapshots.md
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/decider/repository.py
  src/waku/eventsourcing/exceptions.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/snapshot/__init__.py
  src/waku/eventsourcing/snapshot/registry.py
  src/waku/eventsourcing/snapshot/repository.py
  tests/eventsourcing/decider/test_snapshot_decider_repository.py
  tests/eventsourcing/snapshot/test_snapshot_repository.py
  tests/eventsourcing/store/test_event_store_contract.py
  tests/eventsourcing/test_modules.py
Due: lint, typecheck-mypy, typecheck-ty

fix(es): figure out idempotency issues
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/exceptions.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/snapshot/migration.py
  src/waku/eventsourcing/store/in_memory.py
  src/waku/eventsourcing/store/sqlalchemy/_serialization.py
  src/waku/eventsourcing/store/sqlalchemy/store.py
  src/waku/eventsourcing/store/sqlalchemy/tables.py
  tests/cqrs/test_map_freeze.py
  tests/eventsourcing/decider/test_decider_handler.py
  tests/eventsourcing/decider/test_decider_repository.py
  tests/eventsourcing/decider/test_snapshot_decider_repository.py
  tests/eventsourcing/domain.py
  tests/eventsourcing/projection/test_processor.py
  tests/eventsourcing/projection/test_projection.py
  tests/eventsourcing/snapshot/test_snapshot_migration.py
  tests/eventsourcing/snapshot/test_snapshot_repository.py
  tests/eventsourcing/store/test_event_store_contract.py
  tests/eventsourcing/test_contracts.py
  tests/eventsourcing/test_handler.py
  tests/eventsourcing/test_modules.py
  tests/eventsourcing/test_repository.py
  tests/eventsourcing/test_sqlalchemy_modules.py
Due: lint, typecheck-mypy, typecheck-ty

fix(es): remove invariants protection dead branches
  src/waku/eventsourcing/_generics.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/store/in_memory.py
  src/waku/eventsourcing/store/sqlalchemy/store.py
  tests/eventsourcing/store/test_event_store_contract.py
  tests/eventsourcing/test_modules.py
Due: lint, typecheck-mypy, typecheck-ty

chore(release): 0.30.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat(es): refactor error policy to binding-level config with `on_skip` hook
  docs/code/eventsourcing/projections/catch_up.py
  docs/code/eventsourcing/projections/runner.py
  docs/features/eventsourcing/projections.md
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/_introspection.py
  src/waku/eventsourcing/decider/repository.py
  src/waku/eventsourcing/exceptions.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/projection/config.py
  src/waku/eventsourcing/projection/interfaces.py
  src/waku/eventsourcing/projection/processor.py
  src/waku/eventsourcing/projection/runner.py
  src/waku/eventsourcing/repository.py
  tests/eventsourcing/projection/helpers.py
  tests/eventsourcing/projection/test_config.py
  tests/eventsourcing/projection/test_processor.py
  tests/eventsourcing/projection/test_projection.py
  tests/eventsourcing/projection/test_runner.py
  tests/eventsourcing/test_contracts.py
  tests/eventsourcing/test_modules.py
Due: lint, typecheck-mypy, typecheck-ty

refactor(es): extract read_aggregate_stream() to deduplicate stream guard logic
  src/waku/eventsourcing/_stream_helpers.py
  src/waku/eventsourcing/decider/repository.py
  src/waku/eventsourcing/repository.py
  tests/eventsourcing/test_stream_helpers.py
Due: lint, typecheck-mypy, typecheck-ty

refactor(es): extract SnapshotManager to deduplicate snapshot orchestration logic
  src/waku/eventsourcing/decider/repository.py
  src/waku/eventsourcing/snapshot/manager.py
  src/waku/eventsourcing/snapshot/repository.py
  tests/eventsourcing/snapshot/test_snapshot_manager.py
Due: lint, typecheck-mypy, typecheck-ty

feat(es): add snapshot_state_type override and fix projection retry counter
  docs/features/eventsourcing/projections.md
  docs/features/eventsourcing/snapshots.md
  src/waku/eventsourcing/decider/repository.py
  src/waku/eventsourcing/projection/processor.py
  src/waku/eventsourcing/snapshot/repository.py
  tests/eventsourcing/projection/test_processor.py
Due: lint, typecheck-mypy, typecheck-ty

test(es): cover snapshot save with explicit current_state
  docs/features/eventsourcing/projections.md
  tests/eventsourcing/decider/test_snapshot_decider_repository.py
Due: lint, typecheck-mypy, typecheck-ty

fix(es): warn on InMemoryEventStore default and make snapshot save best-effort
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/snapshot/manager.py
  tests/eventsourcing/decider/test_snapshot_decider_repository.py
  tests/eventsourcing/snapshot/test_snapshot_repository.py
  tests/eventsourcing/test_modules.py
Due: lint, typecheck-mypy, typecheck-ty

Path conditions:
  uv-lock-check: any of: ^pyproject\.toml$
  lint: any of: \.py$
  typecheck-mypy: any of: \.py$
  typecheck-ty: any of: \.py$
