Repository waku-py/waku: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, lint, typecheck-mypy, typecheck-ty

uv-lock-check:
  name: uv-lock-check
  entry: uv lock --locked
  language: system
  pass_filenames: false
  fail_fast: true

lint:
  name: Run code linting
  entry: task lint -- --output-format=concise
  language: system
  pass_filenames: false
  fail_fast: true
  stages:
  - pre-commit
  - pre-push
  - manual

typecheck-mypy:
  name: Run type checking with MyPy
  entry: env MYPY_PRETTY=0 task typecheck
  language: system
  pass_filenames: false
  fail_fast: true
  stages:
  - pre-push
  - manual

typecheck-ty:
  name: Run type checking with Ty
  entry: task ty
  language: system
  pass_filenames: false
  fail_fast: true
  stages:
  - pre-commit
  - pre-push
  - manual

chore(release): 0.33.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat(es): add stream soft delete
  docs/features/eventsourcing/event-store.md
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/exceptions.py
  src/waku/eventsourcing/store/in_memory.py
  src/waku/eventsourcing/store/interfaces.py
  src/waku/eventsourcing/store/sqlalchemy/store.py
  src/waku/eventsourcing/store/sqlalchemy/tables.py
  tests/eventsourcing/store/test_event_store_contract.py
Due: lint, typecheck-mypy, typecheck-ty

docs(es): fix inaccuracies and polish event sourcing docs
  docs/features/eventsourcing/aggregates.md
  docs/features/eventsourcing/event-store.md
  docs/features/eventsourcing/index.md
  docs/features/eventsourcing/projections.md
  docs/features/eventsourcing/schema-evolution.md
  docs/features/eventsourcing/snapshots.md
  docs/features/eventsourcing/testing.md
Due: none

chore(release): 0.34.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

chore(infra): migrate docs hosting from GitHub Pages to Cloudflare Pages
  .github/workflows/deploy-docs.yml
  .github/workflows/preview-docs.yml
  .github/workflows/release.yml
  zensical.toml
Due: none

docs: update download badge and fix install commands
  README.md
  docs/features/eventsourcing/event-store.md
Due: none

docs: update all docs links to docs.wakupy.dev
  README.md
  pyproject.toml
Due: uv-lock-check

chore(infra): remove preview-docs workflow
  .github/workflows/preview-docs.yml
Due: none

chore: upgrade deps
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: uv-lock-check

docs: add tags to all pages
  docs/advanced/di/conditional-providers.md
  docs/advanced/di/di-patterns.md
  docs/advanced/di/index.md
  docs/advanced/di/multi-bindings.md
  docs/advanced/extensions/custom-extensions.md
  docs/advanced/extensions/index.md
  docs/advanced/index.md
  docs/contributing/contributing.md
  docs/features/cqrs/events.md
  docs/features/cqrs/index.md
  docs/features/cqrs/pipeline.md
  docs/features/cqrs/requests.md
  docs/features/eventsourcing/aggregates.md
  docs/features/eventsourcing/event-store.md
  docs/features/eventsourcing/index.md
  docs/features/eventsourcing/projections.md
  docs/features/eventsourcing/schema-evolution.md
  docs/features/eventsourcing/snapshots.md
  docs/features/eventsourcing/testing.md
  docs/features/index.md
  docs/features/validation.md
  docs/fundamentals/application.md
  docs/fundamentals/integrations.md
  docs/fundamentals/modules.md
  docs/fundamentals/providers.md
  docs/fundamentals/testing.md
  docs/getting-started.md
  docs/index.md
  overrides/main.html
  pyproject.toml
Due: uv-lock-check

chore: add cloudflare pages preview cleanup
  .github/workflows/cleanup-preview.yml
Due: none

docs: make `dishka` lowercase in docs
  README.md
  docs/advanced/di/conditional-providers.md
  docs/advanced/di/di-patterns.md
  docs/advanced/di/index.md
  docs/advanced/di/multi-bindings.md
  docs/advanced/extensions/custom-extensions.md
  docs/advanced/index.md
  docs/features/cqrs/index.md
  docs/features/eventsourcing/event-store.md
  docs/features/eventsourcing/projections.md
  docs/features/eventsourcing/schema-evolution.md
  docs/fundamentals/application.md
  docs/fundamentals/integrations.md
  docs/fundamentals/providers.md
  docs/fundamentals/testing.md
  docs/getting-started.md
  docs/index.md
Due: none

fix(es): make sqla tables bind idempotent
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/projection/lock/sqlalchemy/tables.py
  src/waku/eventsourcing/projection/sqlalchemy/tables.py
  src/waku/eventsourcing/snapshot/sqlalchemy/tables.py
  src/waku/eventsourcing/store/sqlalchemy/tables.py
  tests/eventsourcing/test_bind_tables.py
Due: lint, typecheck-mypy, typecheck-ty

docs(es): fill documentation gaps for event sourcing setup
  docs/features/eventsourcing/aggregates.md
  docs/features/eventsourcing/event-store.md
  docs/features/eventsourcing/projections.md
  docs/features/eventsourcing/snapshots.md
  docs/features/eventsourcing/testing.md
Due: none

chore(release): 0.34.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

docs(core): use service/repository pattern in DI examples
  docs/code/getting_started/users/module.py
  docs/code/getting_started/users/repositories.py
  docs/code/getting_started/users/services.py
  docs/code/providers/service_repository.py
  docs/fundamentals/providers.md
  docs/getting-started.md
  docs/index.md
Due: lint, typecheck-mypy, typecheck-ty

feat(es)!: split creation models for OOP aggregates and deciders
  .github/workflows/claude-code-review.yml
  docs/code/eventsourcing/decider/handler.py
  docs/code/eventsourcing/quickstart/commands.py
  docs/features/eventsourcing/aggregates.md
  examples/eventsourcing/basic_usage.py
  examples/eventsourcing/postgres/main.py
  src/waku/eventsourcing/_retry.py
  src/waku/eventsourcing/_stream_helpers.py
  src/waku/eventsourcing/decider/handler.py
  src/waku/eventsourcing/decider/repository.py
  src/waku/eventsourcing/exceptions.py
  src/waku/eventsourcing/repository.py
  src/waku/eventsourcing/snapshot/repository.py
  tests/eventsourcing/decider/test_decider_handler.py
  tests/eventsourcing/decider/test_decider_modules.py
  tests/eventsourcing/decider/test_decider_repository.py
  tests/eventsourcing/snapshot/test_snapshot_repository.py
  tests/eventsourcing/test_contracts.py
  tests/eventsourcing/test_handler.py
  tests/eventsourcing/test_repository.py
  tests/eventsourcing/test_stream_helpers.py
Due: lint, typecheck-mypy, typecheck-ty

feat(es)!: propagate inline projection errors instead of swallowing
  src/waku/eventsourcing/store/in_memory.py
  src/waku/eventsourcing/store/sqlalchemy/store.py
  tests/eventsourcing/store/test_event_store_contract.py
Due: lint, typecheck-mypy, typecheck-ty

docs(es): document cross-aggregate projections, live projections, and design decisions
  docs/features/eventsourcing/aggregates.md
  docs/features/eventsourcing/projections.md
Due: none

refactor(es): rollback in-memory store on projection failure and improve tests
  src/waku/eventsourcing/store/in_memory.py
  tests/eventsourcing/store/test_in_memory_rollback.py
  tests/eventsourcing/test_handler.py
  tests/eventsourcing/test_stream_helpers.py
Due: lint, typecheck-mypy, typecheck-ty

chore(release): 0.35.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix(es): handle Union and generic alias types in resolve_generic_args
  docs/features/eventsourcing/aggregates.md
  src/waku/eventsourcing/_introspection.py
  src/waku/eventsourcing/decider/repository.py
  src/waku/eventsourcing/repository.py
  tests/eventsourcing/test_introspection.py
Due: lint, typecheck-mypy, typecheck-ty

chore(release): 0.35.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

Path conditions:
  uv-lock-check: any of: ^pyproject\.toml$
  lint: any of: \.py$
  typecheck-mypy: any of: \.py$
  typecheck-ty: any of: \.py$
