Repository waku-py/waku: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, lint, typecheck-mypy, typecheck-ty

.pre-commit-config.yaml:

# Pre-commit configuration for waku
# See https://pre-commit.com for more information
default_install_hook_types: [ pre-commit, pre-push, commit-msg ]
default_stages: [ pre-commit, pre-push, manual ]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args: [ "--branch", "master" ]
      - id: check-yaml
        args: [ "--unsafe" ]
        files: '\.(yaml|yml)$'
      - id: check-toml
        files: '\.toml$'
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: '^uv\.lock$'
      - id: trailing-whitespace
        args: [ "--markdown-linebreak-ext=md" ]
      - id: detect-private-key
      - id: check-illegal-windows-names
      - id: mixed-line-ending
        args: [ "--fix=lf" ]
      - id: check-case-conflict

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.0
    hooks:
      - id: check-github-workflows
        files: '^\.github/workflows/.*\.ya?ml$'
      - id: check-renovate
        files: '^\.github/renovate\.json$'
      - id: check-taskfile
        files: '^Taskfile\.yml$'

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies: [ tomli ]
        files: '\.(py|pyi|md|yml|yaml|json|toml)$'

  - repo: local
    hooks:
      - id: commit-msg
        name: check commit message
        stages: [ commit-msg ]
        language: system
        entry: task gitlint -- --msg-filename
        fail_fast: true

      - id: uv-lock-check
        name: uv-lock-check
        entry: uv lock --locked
        language: system
        pass_filenames: false
        files: '^pyproject\.toml$'
        fail_fast: true

      - id: lint
        name: Run code linting
        entry: task lint -- --output-format=concise
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-commit, pre-push, manual ]

      - id: typecheck-mypy
        name: Run type checking with MyPy
        entry: env MYPY_PRETTY=0 task typecheck
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push, manual ]  # Run on push only to speed up commits

      - id: typecheck-ty
        name: Run type checking with Ty
        entry: task ty
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-commit, pre-push, manual ]

      - id: deptry
        name: Check dependency usage
        entry: task deptry
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push, manual ]  # Run on push only to speed up commits

      - id: security-check
        name: Run security checks
        entry: task security-audit
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push, manual ]  # Run on push only to speed up commits
        verbose: true

  # Meta hooks
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

feat(tests): allow to override not only application container
  pyproject.toml
  src/waku/testing.py
  tests/application/test_lifecycle.py
  tests/application/test_module_registration.py
  tests/conftest.py
  tests/di/test_providers.py
  tests/di/test_scopes.py
  tests/extensions/test_application_extensions.py
  tests/extensions/test_module_extensions.py
  tests/extensions/test_registry.py
  tests/modules/test_dynamic_modules.py
  tests/test_testing_overrides.py
  tests/validation/test_dependencies_accessible.py
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

Deployed 0d1f61e with MkDocs version: 1.6.1
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

chore(release): 0.19.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

chore: add telegram group mention to readme
  README.md
Due: none

Deployed 69d1277 with MkDocs version: 1.6.1
  changelog/index.html
  index.html
  search/search_index.json
Due: none

feat(tests): make overrode container use strict validation
  src/waku/factory.py
  src/waku/testing.py
  tests/test_testing_override.py
  uv.lock
Due: lint, typecheck-mypy, typecheck-ty

Deployed 4089e58 with MkDocs version: 1.6.1
  objects.inv
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

chore(release): 0.20.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat: improve providers registration interfaces
  Taskfile.yml
  examples/providers_registration.py
  pyproject.toml
  src/waku/cqrs/impl.py
  src/waku/cqrs/modules.py
  src/waku/di.py
  src/waku/di/__init__.py
  src/waku/di/_providers.py
  src/waku/modules/_module.py
  tests/conftest.py
  tests/di/test_providers.py
  tests/di/test_scopes.py
  tests/test_testing_override.py
  tests/validation/test_dependencies_accessible.py
  uv.lock
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

Deployed c43f2b8 with MkDocs version: 1.6.1
  changelog/index.html
  objects.inv
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

chore(release): 0.21.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: uv-lock-check

build: add python 3.14.0rc1 to testing suite
  .github/workflows/ci.yml
  pyproject.toml
Due: uv-lock-check

test: do not test against uvloop on python 3.14
  .github/workflows/release.yml
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

ci: migrate to pysentry-rs for deps audit checks
  .pre-commit-config.yaml
  Taskfile.yml
  pyproject.toml
  uv.lock
Due: uv-lock-check

chore: add ty badge to readme
  README.md
Due: none

Deployed aaf10a1 with MkDocs version: 1.6.1
  404.html
  assets/javascripts/bundle.13a4f30d.min.js
  assets/javascripts/bundle.13a4f30d.min.js.map
  assets/javascripts/bundle.50899def.min.js
  assets/javascripts/bundle.50899def.min.js.map
  assets/stylesheets/main.342714a4.min.css
  assets/stylesheets/main.342714a4.min.css.map
  assets/stylesheets/main.7e37652d.min.css
  assets/stylesheets/main.7e37652d.min.css.map
  changelog/index.html
  contributing/docs/index.html
  contributing/index.html
  examples/cqrs/index.html
  examples/modularity/index.html
  getting-started/index.html
  index.html
  integrations/asgi/index.html
  integrations/index.html
  integrations/litestar/index.html
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  usage/cqrs/index.html
  usage/extensions/index.html
  usage/extensions/validation/index.html
  usage/lifespan/index.html
  usage/modules/index.html
  usage/providers/index.html
Due: none

ci: migrate from pre-commit to prek
  .github/workflows/validate.yml
  CONTRIBUTING.md
  Taskfile.yml
  pyproject.toml
  uv.lock
Due: uv-lock-check

Deployed 8ab8af9 with MkDocs version: 1.6.1
  contributing/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

ci: up python 3.14 to rc 2
  .github/workflows/ci.yml
  .github/workflows/release.yml
  tests/conftest.py
Due: lint, typecheck-mypy, typecheck-ty

Deployed 1bec9ef with MkDocs version: 1.6.1
  404.html
  assets/_mkdocstrings.css
  assets/javascripts/bundle.50899def.min.js
  assets/javascripts/bundle.50899def.min.js.map
  assets/javascripts/bundle.92b07e13.min.js
  assets/javascripts/bundle.92b07e13.min.js.map
  assets/javascripts/workers/search.973d3a69.min.js
  assets/javascripts/workers/search.973d3a69.min.js.map
  assets/javascripts/workers/search.d50fe291.min.js
  changelog/index.html
  contributing/docs/index.html
  contributing/index.html
  examples/cqrs/index.html
  examples/modularity/index.html
  getting-started/index.html
  index.html
  integrations/asgi/index.html
  integrations/index.html
  integrations/litestar/index.html
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  usage/cqrs/index.html
  usage/extensions/index.html
  usage/extensions/validation/index.html
  usage/lifespan/index.html
  usage/modules/index.html
  usage/providers/index.html
Due: none

ci: add automerge schedule to renovate config
  .github/renovate.json5
Due: none

ci: migrate to official go-task setup action
  .github/workflows/validate.yml
Due: none

chore: update project uv version to 0.8.17
  pyproject.toml
Due: uv-lock-check

chore: try to make renovate actually use automerge
  .github/renovate.json5
  .pre-commit-config.yaml
  Taskfile.yml
Due: none

chore: second try to make renovate actually use automerge
  .github/renovate.json5
Due: none

feat: make cqrs related handlers calls positional only
  examples/cqrs/basic_usage.py
  examples/cqrs/pipeline_behaviors.py
  pyproject.toml
  src/waku/cqrs/__init__.py
  src/waku/cqrs/contracts/__init__.py
  src/waku/cqrs/contracts/event.py
  src/waku/cqrs/contracts/pipeline.py
  src/waku/cqrs/events/__init__.py
  src/waku/cqrs/events/handler.py
  src/waku/cqrs/events/map.py
  src/waku/cqrs/events/publish.py
  src/waku/cqrs/exceptions.py
  src/waku/cqrs/impl.py
  src/waku/cqrs/interfaces.py
  src/waku/cqrs/modules.py
  src/waku/cqrs/pipeline/map.py
  src/waku/cqrs/requests/__init__.py
  src/waku/cqrs/requests/handler.py
  src/waku/cqrs/requests/map.py
  tests/conftest.py
  uv.lock
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

fix: allow usage of factories in many provider
  src/waku/di/_providers.py
  tests/di/providers/__init__.py
  tests/di/providers/test_many.py
  tests/di/providers/test_object.py
  tests/di/providers/test_scoped.py
  tests/di/test_providers.py
  tests/di/test_scopes.py
  tests/testing/__init__.py
  tests/testing/test_override.py
Due: lint, typecheck-mypy, typecheck-ty

Deployed bbc50a3 with MkDocs version: 1.6.1
  404.html
  assets/javascripts/bundle.92b07e13.min.js
  assets/javascripts/bundle.92b07e13.min.js.map
  assets/javascripts/bundle.f55a23d4.min.js
  assets/javascripts/bundle.f55a23d4.min.js.map
  assets/stylesheets/main.2a3383ac.min.css
  assets/stylesheets/main.2a3383ac.min.css.map
  assets/stylesheets/main.7e37652d.min.css
  assets/stylesheets/main.7e37652d.min.css.map
  changelog/index.html
  contributing/docs/index.html
  contributing/index.html
  examples/cqrs/index.html
  examples/modularity/index.html
  getting-started/index.html
  index.html
  integrations/asgi/index.html
  integrations/index.html
  integrations/litestar/index.html
  objects.inv
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  usage/cqrs/index.html
  usage/extensions/index.html
  usage/extensions/validation/index.html
  usage/lifespan/index.html
  usage/modules/index.html
  usage/providers/index.html
Due: none

chore(release): 0.22.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

ci: update Python 3.14.0-rc.2 to 3.14 release
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none
