Repository waku-py/waku: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, lint, typecheck

uv-lock-check:
  name: uv-lock-check
  entry: uv lock --locked
  language: system
  pass_filenames: false
  fail_fast: true

lint:
  name: Run code linting
  entry: task lint -- --output-format=concise
  language: system
  pass_filenames: false
  fail_fast: true
  stages:
  - pre-commit
  - pre-push

typecheck:
  name: Run type checking
  entry: env MYPY_PRETTY=0 task typecheck
  language: system
  pass_filenames: false
  fail_fast: true
  stages:
  - pre-push

Deployed f807f0a with MkDocs version: 1.6.1
  objects.inv
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

chore(release): 0.11.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

perf: remove duplications in module registry builder logic
  src/waku/modules/_registry_builder.py
Due: lint, typecheck

Deployed 8527c7d with MkDocs version: 1.6.1
  changelog/index.html
  objects.inv
  reference/index.html
  search/search_index.json
Due: none

chore(release): 0.11.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix(validation): fix check for provided types in the current module without explicit export
  gitlint_plugins.py
  src/waku/ext/validation/_errors.py
  src/waku/ext/validation/rules.py
  tests/validation/test_dependencies_accessible.py
Due: lint, typecheck

Deployed a771cbb with MkDocs version: 1.6.1
  changelog/index.html
  objects.inv
  reference/index.html
  search/search_index.json
Due: none

chore(release): 0.11.2 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix(core): move `OnModuleConfigure` to module definition to prevent duplications on subsequent calls
  pyproject.toml
  src/waku/modules/_metadata.py
  src/waku/modules/_registry.py
  src/waku/modules/_registry_builder.py
  tests/test_application.py
  tests/test_extensions.py
Due: uv-lock-check, lint, typecheck

Deployed 0e6ed00 with MkDocs version: 1.6.1
  changelog/index.html
  objects.inv
  reference/index.html
  search/search_index.json
Due: none

chore(release): 0.11.3 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat(core): make module traversal post-order dfs
  src/waku/ext/validation/rules.py
  src/waku/modules/_registry.py
  src/waku/modules/_registry_builder.py
Due: lint, typecheck

Deployed eb9a760 with MkDocs version: 1.6.1
  changelog/index.html
  reference/index.html
  search/search_index.json
Due: none

chore(release): 0.12.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

perf(core): collect module adjacency in one pass
  src/waku/modules/_registry.py
  src/waku/modules/_registry_builder.py
Due: lint, typecheck

Deployed 9ad711d with MkDocs version: 1.6.1
  changelog/index.html
  objects.inv
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

chore(release): 0.12.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat: implement proper module hooks sorting
  src/waku/application.py
  src/waku/ext/validation/rules.py
  src/waku/extensions.py
  src/waku/modules/_module.py
  src/waku/modules/_registry.py
  src/waku/modules/_registry_builder.py
  tests/test_extensions.py
Due: lint, typecheck

Deployed 2b2a9de with MkDocs version: 1.6.1
  changelog/index.html
  objects.inv
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

chore(release): 0.13.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat(validation): make dependency accessible rule stricter and follow nestjs behaviour
  pyproject.toml
  src/waku/ext/__init__.py
  src/waku/ext/validation/rules.py
  src/waku/ext/validation/rules/__init__.py
  src/waku/ext/validation/rules/dependency_accessible.py
  src/waku/modules/_metadata.py
  src/waku/modules/_module.py
  tests/config/__init__.py
  tests/validation/test_dependencies_accessible.py
  uv.lock
Due: uv-lock-check, lint, typecheck

Deployed 574c453 with MkDocs version: 1.6.1
  changelog/index.html
  objects.inv
  reference/index.html
  search/search_index.json
Due: none

chore(release): 0.14.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

chore(tests): improve testing suite structure
  pyproject.toml
  src/waku/__init__.py
  tests/application/__init__.py
  tests/application/test_lifecycle.py
  tests/application/test_module_registration.py
  tests/conftest.py
  tests/data.py
  tests/di/__init__.py
  tests/di/test_providers.py
  tests/di/test_scopes.py
  tests/extensions/__init__.py
  tests/extensions/test_application_extensions.py
  tests/extensions/test_module_extensions.py
  tests/module_utils.py
  tests/modules/__init__.py
  tests/modules/test_dynamic_modules.py
  tests/test_application.py
  tests/test_di.py
  tests/test_extensions.py
  tests/test_testing_overrides.py
  tests/validation/test_dependencies_accessible.py
Due: uv-lock-check, lint, typecheck

Deployed af4544e with MkDocs version: 1.6.1
  changelog/index.html
  objects.inv
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

feat(validation): implement proper module re-export validation
  pyproject.toml
  src/waku/ext/validation/_extension.py
  src/waku/ext/validation/rules/_cache.py
  src/waku/ext/validation/rules/_types_extractor.py
  src/waku/ext/validation/rules/dependency_accessible.py
  src/waku/modules/__init__.py
  src/waku/modules/_metadata.py
  tests/module_utils.py
  tests/validation/test_dependencies_accessible.py
Due: uv-lock-check, lint, typecheck

Deployed f5e608b with MkDocs version: 1.6.1
  objects.inv
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

chore(release): 0.15.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

chore: add warning about stale docs to README
  README.md
Due: none

feat(core): group all module providers within one dishka provider
  src/waku/di.py
  src/waku/ext/validation/rules/_types_extractor.py
  src/waku/ext/validation/rules/dependency_accessible.py
  src/waku/modules/_module.py
  src/waku/modules/_registry_builder.py
  tests/data.py
Due: lint, typecheck

Path conditions:
  uv-lock-check: any of: ^pyproject\.toml$, but not: (?x)^(
  \.venv/.*|
  dist/.*|
  build/.*|
  \.*_cache/.*|
  \.git/.*|
  \.idea/.*
)$

  lint: any of: \.py$, but not: (?x)^(
  \.venv/.*|
  dist/.*|
  build/.*|
  \.*_cache/.*|
  \.git/.*|
  \.idea/.*
)$

  typecheck: any of: \.py$, but not: (?x)^(
  \.venv/.*|
  dist/.*|
  build/.*|
  \.*_cache/.*|
  \.git/.*|
  \.idea/.*
)$

