Repository waku-py/waku: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, lint, typecheck-mypy, typecheck-ty

.pre-commit-config.yaml:

# Pre-commit configuration for waku
# See https://pre-commit.com for more information
default_install_hook_types: [ pre-commit, pre-push, commit-msg ]
default_stages: [ pre-commit, pre-push, manual ]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args: [ "--branch", "master" ]
      - id: check-yaml
        args: [ "--unsafe" ]
        files: '\.(yaml|yml)$'
      - id: check-toml
        files: '\.toml$'
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: '^uv\.lock$'
      - id: trailing-whitespace
        args: [ "--markdown-linebreak-ext=md" ]
      - id: detect-private-key
      - id: check-illegal-windows-names
      - id: mixed-line-ending
        args: [ "--fix=lf" ]
      - id: check-case-conflict

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.0
    hooks:
      - id: check-github-workflows
        files: '^\.github/workflows/.*\.ya?ml$'
      - id: check-renovate
        files: '^\.github/renovate\.json$'
      - id: check-taskfile
        files: '^Taskfile\.yml$'

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies: [ tomli ]
        files: '\.(py|pyi|md|yml|yaml|json|toml)$'

  - repo: local
    hooks:
      - id: commit-msg
        name: check commit message
        stages: [ commit-msg ]
        language: system
        entry: task gitlint -- --msg-filename
        fail_fast: true

      - id: uv-lock-check
        name: uv-lock-check
        entry: uv lock --locked
        language: system
        pass_filenames: false
        files: '^pyproject\.toml$'
        fail_fast: true

      - id: lint
        name: Run code linting
        entry: task lint -- --output-format=concise
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-commit, pre-push, manual ]

      - id: typecheck-mypy
        name: Run type checking with MyPy
        entry: env MYPY_PRETTY=0 task typecheck
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push, manual ]  # Run on push only to speed up commits

      - id: typecheck-ty
        name: Run type checking with Ty
        entry: task ty
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-commit, pre-push, manual ]

      - id: deptry
        name: Check dependency usage
        entry: task deptry
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push, manual ]  # Run on push only to speed up commits

      - id: security-check
        name: Run security checks
        entry: task security-audit
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push, manual ]  # Run on push only to speed up commits
        verbose: true

  # Meta hooks
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

docs(es): document at-least-once projection semantics and outbox pattern
  docs/features/eventsourcing/projections.md
  src/waku/eventsourcing/projection/interfaces.py
Due: lint, typecheck-mypy, typecheck-ty

feat(es): always require passing event store impl class
  docs/code/eventsourcing/decider/modules.py
  docs/code/eventsourcing/quickstart/modules.py
  docs/features/eventsourcing/aggregates.md
  docs/features/eventsourcing/event-store.md
  docs/features/eventsourcing/projections.md
  docs/features/eventsourcing/snapshots.md
  docs/features/eventsourcing/testing.md
  examples/eventsourcing/basic_usage.py
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/exceptions.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/projection/interfaces.py
  tests/eventsourcing/decider/test_decider_modules.py
  tests/eventsourcing/decider/test_snapshot_decider_repository.py
  tests/eventsourcing/snapshot/test_snapshot_repository.py
  tests/eventsourcing/test_handler.py
  tests/eventsourcing/test_modules.py
  tests/eventsourcing/test_multi_module_integration.py
Due: lint, typecheck-mypy, typecheck-ty

refactor(es): move per-projection config to CatchUpProjectionBinding
  docs/code/eventsourcing/projections/runner.py
  docs/features/eventsourcing/projections.md
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/projection/__init__.py
  src/waku/eventsourcing/projection/config.py
  src/waku/eventsourcing/projection/processor.py
  src/waku/eventsourcing/projection/runner.py
  tests/eventsourcing/projection/test_config.py
  tests/eventsourcing/projection/test_processor.py
  tests/eventsourcing/projection/test_runner.py
Due: lint, typecheck-mypy, typecheck-ty

docs: improve projection, aggregate, DI, and event documentation
  docs/advanced/di/di-patterns.md
  docs/features/cqrs/events.md
  docs/features/eventsourcing/aggregates.md
  docs/features/eventsourcing/projections.md
Due: none

chore: update typecheckers
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix(es): use stream position for version and isolate inline projection failures
  src/waku/eventsourcing/decider/repository.py
  src/waku/eventsourcing/repository.py
  src/waku/eventsourcing/snapshot/repository.py
  src/waku/eventsourcing/store/in_memory.py
  src/waku/eventsourcing/store/sqlalchemy/store.py
  tests/eventsourcing/store/test_event_store_contract.py
Due: lint, typecheck-mypy, typecheck-ty

feat(es): add structured logging and generic StoredEvent
  .pre-commit-config.yaml
  pyproject.toml
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/contracts/__init__.py
  src/waku/eventsourcing/contracts/event.py
  src/waku/eventsourcing/decider/handler.py
  src/waku/eventsourcing/decider/repository.py
  src/waku/eventsourcing/handler.py
  src/waku/eventsourcing/repository.py
  src/waku/eventsourcing/snapshot/repository.py
  uv.lock
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

feat(es): refactor error policy to binding-level config with `on_skip` hook
  docs/code/eventsourcing/projections/catch_up.py
  docs/code/eventsourcing/projections/runner.py
  docs/features/eventsourcing/projections.md
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/_introspection.py
  src/waku/eventsourcing/decider/repository.py
  src/waku/eventsourcing/exceptions.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/projection/config.py
  src/waku/eventsourcing/projection/interfaces.py
  src/waku/eventsourcing/projection/processor.py
  src/waku/eventsourcing/projection/runner.py
  src/waku/eventsourcing/repository.py
  tests/eventsourcing/projection/helpers.py
  tests/eventsourcing/projection/test_config.py
  tests/eventsourcing/projection/test_processor.py
  tests/eventsourcing/projection/test_projection.py
  tests/eventsourcing/projection/test_runner.py
  tests/eventsourcing/test_contracts.py
  tests/eventsourcing/test_modules.py
Due: lint, typecheck-mypy, typecheck-ty

refactor(es): extract read_aggregate_stream() to deduplicate stream guard logic
  src/waku/eventsourcing/_stream_helpers.py
  src/waku/eventsourcing/decider/repository.py
  src/waku/eventsourcing/repository.py
  tests/eventsourcing/test_stream_helpers.py
Due: lint, typecheck-mypy, typecheck-ty

test(es): cover snapshot save with explicit current_state
  docs/features/eventsourcing/projections.md
  tests/eventsourcing/decider/test_snapshot_decider_repository.py
Due: lint, typecheck-mypy, typecheck-ty

feat(es): add snapshot_state_type override and fix projection retry counter
  docs/features/eventsourcing/projections.md
  docs/features/eventsourcing/snapshots.md
  src/waku/eventsourcing/decider/repository.py
  src/waku/eventsourcing/projection/processor.py
  src/waku/eventsourcing/snapshot/repository.py
  tests/eventsourcing/projection/test_processor.py
Due: lint, typecheck-mypy, typecheck-ty

fix(es): warn on InMemoryEventStore default and make snapshot save best-effort
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/snapshot/manager.py
  tests/eventsourcing/decider/test_snapshot_decider_repository.py
  tests/eventsourcing/snapshot/test_snapshot_repository.py
  tests/eventsourcing/test_modules.py
Due: lint, typecheck-mypy, typecheck-ty

refactor(es): extract SnapshotManager to deduplicate snapshot orchestration logic
  src/waku/eventsourcing/decider/repository.py
  src/waku/eventsourcing/snapshot/manager.py
  src/waku/eventsourcing/snapshot/repository.py
  tests/eventsourcing/snapshot/test_snapshot_manager.py
Due: lint, typecheck-mypy, typecheck-ty

chore(release): 0.31.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat(es): add optimistic concurrency retry to command handlers
  docs/features/eventsourcing/aggregates.md
  src/waku/eventsourcing/decider/handler.py
  src/waku/eventsourcing/handler.py
  tests/eventsourcing/decider/conftest.py
  tests/eventsourcing/decider/test_decider_handler.py
  tests/eventsourcing/helpers.py
  tests/eventsourcing/test_handler.py
Due: lint, typecheck-mypy, typecheck-ty

feat(es): add event type filtering to read_all() and catch-up projections
  docs/features/eventsourcing/event-store.md
  docs/features/eventsourcing/projections.md
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/projection/interfaces.py
  src/waku/eventsourcing/projection/processor.py
  src/waku/eventsourcing/projection/runner.py
  src/waku/eventsourcing/store/in_memory.py
  src/waku/eventsourcing/store/interfaces.py
  src/waku/eventsourcing/store/sqlalchemy/store.py
  tests/eventsourcing/decider/conftest.py
  tests/eventsourcing/helpers.py
  tests/eventsourcing/projection/helpers.py
  tests/eventsourcing/projection/test_processor.py
  tests/eventsourcing/store/conftest.py
  tests/eventsourcing/store/domain.py
  tests/eventsourcing/store/test_event_store_contract.py
Due: lint, typecheck-mypy, typecheck-ty

refactor(es): extract optimistic concurrency retry into shared helper
  README.md
  docs/features/eventsourcing/event-store.md
  src/waku/eventsourcing/_retry.py
  src/waku/eventsourcing/decider/handler.py
  src/waku/eventsourcing/handler.py
  src/waku/eventsourcing/modules.py
  tests/eventsourcing/decider/test_decider_handler.py
  tests/eventsourcing/test_handler.py
  tests/eventsourcing/test_modules.py
Due: lint, typecheck-mypy, typecheck-ty

refactor(es): introduce CatchUpProjectionRegistry for clean DI resolution
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/projection/__init__.py
  src/waku/eventsourcing/projection/binding.py
  src/waku/eventsourcing/projection/processor.py
  src/waku/eventsourcing/projection/registry.py
  src/waku/eventsourcing/projection/runner.py
  tests/eventsourcing/projection/conftest.py
  tests/eventsourcing/projection/helpers.py
  tests/eventsourcing/projection/test_processor.py
  tests/eventsourcing/projection/test_registry.py
  tests/eventsourcing/projection/test_runner.py
  tests/eventsourcing/test_modules.py
Due: lint, typecheck-mypy, typecheck-ty

docs(es): update projection docs to use bind_catch_up_projection() API
  docs/code/eventsourcing/projections/runner.py
  docs/features/eventsourcing/projections.md
Due: lint, typecheck-mypy, typecheck-ty

chore(es): add binding duplicate check to registry
  src/waku/eventsourcing/projection/registry.py
  tests/eventsourcing/projection/test_registry.py
Due: lint, typecheck-mypy, typecheck-ty

docs(es): review and polish event sourcing documentation
  docs/code/eventsourcing/custom_serializer.py
  docs/code/eventsourcing/decider/decider.py
  docs/code/eventsourcing/decider/handler.py
  docs/code/eventsourcing/decider/repository.py
  docs/code/eventsourcing/projections/inline.py
  docs/code/eventsourcing/snapshots/migration.py
  docs/features/eventsourcing/aggregates.md
  docs/features/eventsourcing/event-store.md
  docs/features/eventsourcing/projections.md
  pyproject.toml
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

test(es): cover missing branches in projection runner and test fixtures
  tests/eventsourcing/projection/test_runner.py
  tests/eventsourcing/test_modules.py
Due: lint, typecheck-mypy, typecheck-ty

chore(release): 0.32.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat(es): add AggregateSpec, wait utilities, and gap detection
  docs/code/eventsourcing/testing/aggregate_spec.py
  docs/code/eventsourcing/testing/wait_for_projection.py
  docs/features/eventsourcing/projections.md
  docs/features/eventsourcing/testing.md
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/projection/binding.py
  src/waku/eventsourcing/projection/gap_detection.py
  src/waku/eventsourcing/projection/processor.py
  src/waku/eventsourcing/store/in_memory.py
  src/waku/eventsourcing/store/interfaces.py
  src/waku/eventsourcing/store/sqlalchemy/store.py
  src/waku/eventsourcing/testing.py
  tests/eventsourcing/projection/helpers.py
  tests/eventsourcing/projection/test_gap_detection.py
  tests/eventsourcing/projection/test_processor.py
  tests/eventsourcing/store/test_event_store_contract.py
  tests/eventsourcing/test_aggregate_spec.py
  tests/eventsourcing/test_wait_for_projection.py
Due: lint, typecheck-mypy, typecheck-ty
