Repository waku-py/waku: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, lint, typecheck-mypy, typecheck-ty

.pre-commit-config.yaml:

# Pre-commit configuration for waku
# See https://pre-commit.com for more information
default_install_hook_types: [ pre-commit, pre-push, commit-msg ]
default_stages: [ pre-commit, pre-push, manual ]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args: [ "--branch", "master" ]
      - id: check-yaml
        args: [ "--unsafe" ]
        files: '\.(yaml|yml)$'
      - id: check-toml
        files: '\.toml$'
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: '^uv\.lock$'
      - id: trailing-whitespace
        args: [ "--markdown-linebreak-ext=md" ]
      - id: detect-private-key
      - id: check-illegal-windows-names
      - id: mixed-line-ending
        args: [ "--fix=lf" ]
      - id: check-case-conflict

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.0
    hooks:
      - id: check-github-workflows
        files: '^\.github/workflows/.*\.ya?ml$'
      - id: check-renovate
        files: '^\.github/renovate\.json$'
      - id: check-taskfile
        files: '^Taskfile\.yml$'

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies: [ tomli ]
        files: '\.(py|pyi|md|yml|yaml|json|toml)$'

  - repo: local
    hooks:
      - id: commit-msg
        name: check commit message
        stages: [ commit-msg ]
        language: system
        entry: task gitlint -- --msg-filename
        fail_fast: true

      - id: uv-lock-check
        name: uv-lock-check
        entry: uv lock --locked
        language: system
        pass_filenames: false
        files: '^pyproject\.toml$'
        fail_fast: true

      - id: lint
        name: Run code linting
        entry: task lint -- --output-format=concise
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-commit, pre-push, manual ]

      - id: typecheck-mypy
        name: Run type checking with MyPy
        entry: env MYPY_PRETTY=0 task typecheck
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push, manual ]  # Run on push only to speed up commits

      - id: typecheck-ty
        name: Run type checking with Ty
        entry: task ty
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-commit, pre-push, manual ]

      - id: deptry
        name: Check dependency usage
        entry: task deptry
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push, manual ]  # Run on push only to speed up commits

      - id: security-check
        name: Run security checks
        entry: task security-audit
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push, manual ]  # Run on push only to speed up commits
        verbose: true

  # Meta hooks
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

chore(deps): use correct Python depTypes for Renovate automerge
  .github/renovate.json5
Due: none

ci: update Python 3.14.0-rc.2 to 3.14 release
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: auto approve renovate prs
  .github/workflows/auto-approve-renovate.yml
Due: none

fix: do not trigger error on generic re-exports in modules
  src/waku/validation/rules/_cache.py
  src/waku/validation/rules/_types_extractor.py
  src/waku/validation/rules/dependency_accessible.py
  tests/extensions/test_registry.py
  tests/validation/test_dependencies_accessible.py
Due: lint, typecheck-mypy, typecheck-ty

Deployed e1a5b56 with MkDocs version: 1.6.1
  404.html
  assets/_mkdocstrings.css
  assets/javascripts/bundle.e71a0d61.min.js
  assets/javascripts/bundle.e71a0d61.min.js.map
  assets/javascripts/bundle.f55a23d4.min.js
  assets/javascripts/bundle.f55a23d4.min.js.map
  assets/javascripts/workers/search.7a47a382.min.js
  assets/javascripts/workers/search.7a47a382.min.js.map
  assets/javascripts/workers/search.973d3a69.min.js
  assets/javascripts/workers/search.973d3a69.min.js.map
  assets/stylesheets/main.2a3383ac.min.css
  assets/stylesheets/main.2a3383ac.min.css.map
  assets/stylesheets/main.618322db.min.css
  assets/stylesheets/main.618322db.min.css.map
  assets/stylesheets/palette.06af60db.min.css
  assets/stylesheets/palette.06af60db.min.css.map
  assets/stylesheets/palette.ab4e12ef.min.css
  assets/stylesheets/palette.ab4e12ef.min.css.map
  changelog/index.html
  contributing/docs/index.html
  contributing/index.html
  examples/cqrs/index.html
  examples/modularity/index.html
  getting-started/index.html
  index.html
  integrations/asgi/index.html
  integrations/index.html
  integrations/litestar/index.html
  objects.inv
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  usage/cqrs/index.html
  usage/extensions/index.html
  usage/extensions/validation/index.html
  usage/lifespan/index.html
  usage/modules/index.html
  usage/providers/index.html
Due: none

chore(release): 0.22.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

chore: adjust changelog template to correctly display breaking changes
  CHANGELOG.md
  config/release-templates/.components/changelog_header.md.j2
  config/release-templates/.components/changelog_update.md.j2
  config/release-templates/.components/changes.md.j2
  config/release-templates/.components/macros.common.j2
Due: none

Deployed 4ab24f4 with MkDocs version: 1.6.1
  changelog/index.html
  search/search_index.json
Due: none

fix: adjust cqrs handlers typing to support ty v0.0.1a29
  examples/cqrs/pipeline_behaviors.py
  src/waku/cqrs/events/__init__.py
  src/waku/cqrs/events/handler.py
  src/waku/cqrs/events/map.py
  src/waku/cqrs/exceptions.py
  src/waku/cqrs/impl.py
  src/waku/cqrs/interfaces.py
  src/waku/cqrs/modules.py
  src/waku/cqrs/requests/__init__.py
  src/waku/cqrs/requests/handler.py
  src/waku/cqrs/requests/map.py
  src/waku/cqrs/utils.py
  src/waku/testing.py
Due: lint, typecheck-mypy, typecheck-ty

chore: add pyrefly to type checking suite
  .pre-commit-config.yaml
  Taskfile.yml
  pyproject.toml
  pyrefly.toml
  uv.lock
Due: uv-lock-check

Deployed 1a3a1d4 with MkDocs version: 1.6.1
  objects.inv
  reference/index.html
  search/search_index.json
Due: none

chore(release): 0.22.2 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat: add conditional provider activation
  examples/conditional_providers.py
  src/waku/di/__init__.py
  src/waku/di/_activation.py
  src/waku/di/_providers.py
  src/waku/factory.py
  src/waku/modules/_metadata.py
  src/waku/modules/_module.py
  src/waku/modules/_registry_builder.py
  tests/data.py
  tests/di/activation/__init__.py
  tests/di/activation/test_activation_context.py
  tests/di/activation/test_activation_integration.py
  tests/di/activation/test_conditional_providers.py
Due: lint, typecheck-mypy, typecheck-ty

Deployed a9aee1d with MkDocs version: 1.6.1
  changelog/index.html
  objects.inv
  reference/index.html
  search/search_index.json
Due: none

chore(release): 0.23.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat(cqrs): make event publishing noop when no handlers registered
  src/waku/cqrs/exceptions.py
  src/waku/cqrs/impl.py
Due: lint, typecheck-mypy, typecheck-ty

Deployed ae73c04 with MkDocs version: 1.6.1
  changelog/index.html
  objects.inv
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

chore(release): 0.24.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

perf(cqrs): use iterative pipeline execution to avoid partial chains
  src/waku/cqrs/pipeline/chain.py
Due: lint, typecheck-mypy, typecheck-ty

Deployed d98ee30 with MkDocs version: 1.6.1
  changelog/index.html
  reference/index.html
  search/search_index.json
Due: none

chore(release): 0.24.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat: add context override support to `override` helper
  src/waku/testing.py
  tests/testing/test_create_test_app.py
  tests/testing/test_override.py
Due: lint, typecheck-mypy, typecheck-ty

Deployed 30e572f with MkDocs version: 1.6.1
  changelog/index.html
  objects.inv
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

chore(release): 0.25.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat: add `OnBeforeContainerBuild` extension
  src/waku/extensions/__init__.py
  src/waku/extensions/protocols.py
  src/waku/factory.py
  tests/extensions/test_on_before_container_build.py
Due: lint, typecheck-mypy, typecheck-ty

Deployed 8803bce with MkDocs version: 1.6.1
  changelog/index.html
  objects.inv
  reference/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

chore(release): 0.26.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix: add app_extensions param to create_test_app
  src/waku/testing.py
Due: lint, typecheck-mypy, typecheck-ty

Deployed 3bba1ac with MkDocs version: 1.6.1
  changelog/index.html
  objects.inv
  reference/index.html
  search/search_index.json
Due: none

chore(release): 0.26.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check
