Repository waku-py/waku: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, lint, typecheck-mypy, typecheck-ty

.pre-commit-config.yaml:

# Pre-commit configuration for waku
# See https://pre-commit.com for more information
default_install_hook_types: [ pre-commit, pre-push, commit-msg ]
default_stages: [ pre-commit, pre-push, manual ]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args: [ "--branch", "master" ]
      - id: check-yaml
        args: [ "--unsafe" ]
        files: '\.(yaml|yml)$'
      - id: check-toml
        files: '\.toml$'
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: '^uv\.lock$'
      - id: trailing-whitespace
        args: [ "--markdown-linebreak-ext=md" ]
      - id: detect-private-key
      - id: check-illegal-windows-names
      - id: mixed-line-ending
        args: [ "--fix=lf" ]
      - id: check-case-conflict

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.0
    hooks:
      - id: check-github-workflows
        files: '^\.github/workflows/.*\.ya?ml$'
      - id: check-renovate
        files: '^\.github/renovate\.json$'
      - id: check-taskfile
        files: '^Taskfile\.yml$'

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies: [ tomli ]
        files: '\.(py|pyi|md|yml|yaml|json|toml)$'

  - repo: local
    hooks:
      - id: commit-msg
        name: check commit message
        stages: [ commit-msg ]
        language: system
        entry: task gitlint -- --msg-filename
        fail_fast: true

      - id: uv-lock-check
        name: uv-lock-check
        entry: uv lock --locked
        language: system
        pass_filenames: false
        files: '^pyproject\.toml$'
        fail_fast: true

      - id: lint
        name: Run code linting
        entry: task lint -- --output-format=concise
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-commit, pre-push, manual ]

      - id: typecheck-mypy
        name: Run type checking with MyPy
        entry: env MYPY_PRETTY=0 task typecheck
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push, manual ]  # Run on push only to speed up commits

      - id: typecheck-ty
        name: Run type checking with Ty
        entry: task ty
        types: [ python ]
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-commit, pre-push, manual ]

      - id: deptry
        name: Check dependency usage
        entry: task deptry
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push, manual ]  # Run on push only to speed up commits

      - id: security-check
        name: Run security checks
        entry: task security-audit
        language: system
        pass_filenames: false
        fail_fast: true
        stages: [ pre-push, manual ]  # Run on push only to speed up commits
        verbose: true

  # Meta hooks
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

feat(ext): write schema_version in InMemoryEventStore
  src/waku/eventsourcing/store/in_memory.py
  tests/eventsourcing/upcasting/test_in_memory_version.py
Due: lint, typecheck-mypy, typecheck-ty

feat(ext): add upcasting to SqlAlchemyEventStore read/write paths
  src/waku/eventsourcing/store/sqlalchemy/store.py
  tests/eventsourcing/store/conftest.py
  tests/eventsourcing/upcasting/test_sqlalchemy_upcasting.py
Due: lint, typecheck-mypy, typecheck-ty

feat(ext): export upcasting types from package
  src/waku/eventsourcing/__init__.py
  tests/eventsourcing/upcasting/test_exports.py
Due: lint, typecheck-mypy, typecheck-ty

fix(ext): address review findings in upcasting implementation
  src/waku/eventsourcing/upcasting/fn.py
  src/waku/eventsourcing/upcasting/helpers.py
  tests/eventsourcing/upcasting/test_helpers.py
  tests/eventsourcing/upcasting/test_sqlalchemy_upcasting.py
Due: lint, typecheck-mypy, typecheck-ty

test(ext): add end-to-end upcasting integration test through DI
  tests/eventsourcing/test_sqlalchemy_modules.py
  tests/eventsourcing/upcasting/test_exports.py
  tests/eventsourcing/upcasting/test_schema_version_column.py
Due: lint, typecheck-mypy, typecheck-ty

feat: add event sourcing extension 12
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/contracts/aggregate.py
  src/waku/eventsourcing/contracts/event.py
  src/waku/eventsourcing/decider/__init__.py
  src/waku/eventsourcing/decider/handler.py
  src/waku/eventsourcing/decider/repository.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/repository.py
  src/waku/eventsourcing/serialization/json.py
  src/waku/eventsourcing/serialization/registry.py
  src/waku/eventsourcing/store/in_memory.py
  src/waku/eventsourcing/store/sqlalchemy/store.py
  tests/eventsourcing/decider/__init__.py
  tests/eventsourcing/decider/conftest.py
  tests/eventsourcing/decider/test_decider_handler.py
  tests/eventsourcing/decider/test_decider_modules.py
  tests/eventsourcing/decider/test_decider_repository.py
  tests/eventsourcing/decider/test_snapshot_decider_repository.py
Due: lint, typecheck-mypy, typecheck-ty

feat: add event sourcing extension 13
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/exceptions.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/serialization/registry.py
  tests/eventsourcing/serialization/test_registry.py
  tests/eventsourcing/test_modules.py
  tests/eventsourcing/test_multi_module_integration.py
Due: lint, typecheck-mypy, typecheck-ty

chore: update deps
  pyproject.toml
  uv.lock
Due: uv-lock-check

docs: add core documentation improvement design
  docs/plans/2026-02-14-core-documentation-design.md
Due: none

docs: add core documentation implementation plan
  docs/plans/2026-02-14-core-documentation-plan.md
Due: none

chore: remove plan files from tracking
  docs/plans/2026-02-14-core-documentation-design.md
  docs/plans/2026-02-14-core-documentation-plan.md
Due: none

docs: restructure nav — core/ to fundamentals/, delete examples
  docs/examples/cqrs.md
  docs/examples/eventsourcing.md
  docs/examples/modularity.md
  docs/extensions/lifecycle.md
  docs/fundamentals/integrations.md
  docs/fundamentals/lifespan.md
  docs/fundamentals/modules.md
  docs/fundamentals/providers.md
Due: none

docs: update zensical.toml nav for new structure
  zensical.toml
Due: none

docs: fix cross-references for new directory structure
  docs/getting-started.md
  docs/index.md
Due: none

docs(core): write lifespan management documentation
  docs/fundamentals/lifespan.md
Due: none

docs(core): write testing utilities documentation
  docs/fundamentals/testing.md
Due: none

docs(di): write conditional providers documentation
  docs/advanced/conditional-providers.md
Due: none

docs(di): write multi-bindings documentation
  docs/advanced/multi-bindings.md
Due: none

docs(di): write advanced DI patterns documentation
  docs/advanced/di-patterns.md
Due: none

docs(ext): write custom extensions documentation
  docs/advanced/custom-extensions.md
Due: none

docs(ext): write lifecycle hooks overview documentation
  docs/extensions/lifecycle.md
Due: none

docs(ext): write CQRS / Mediator documentation
  docs/extensions/cqrs.md
Due: none

docs(ext): write validation documentation
  docs/extensions/validation.md
Due: none

style(core): replace double dashes with em dashes in documentation
  docs/advanced/conditional-providers.md
  docs/advanced/custom-extensions.md
  docs/advanced/di-patterns.md
  docs/advanced/multi-bindings.md
  docs/extensions/lifecycle.md
  docs/fundamentals/testing.md
Due: none

docs: refine fundamentals docs
  .gitignore
  README.md
  docs/advanced/custom-extensions.md
  docs/advanced/di-patterns.md
  docs/assets/stylesheets/extra.css
  docs/code/getting_started/settings.py
  docs/code/providers/scopes/contextual_real.py
  docs/extensions/eventsourcing/index.md
  docs/extensions/validation.md
  docs/fundamentals/application.md
  docs/fundamentals/integrations.md
  docs/fundamentals/lifespan.md
  docs/fundamentals/modules.md
  docs/fundamentals/providers.md
  docs/fundamentals/testing.md
  docs/getting-started.md
  docs/index.md
  gitlint_plugins.py
  zensical.toml
Due: lint, typecheck-mypy, typecheck-ty

docs: add further reading sections
  .github/workflows/claude-code-review.yml
  .github/workflows/deploy-docs.yml
  docs/advanced/conditional-providers.md
  docs/advanced/di-patterns.md
  docs/extensions/cqrs.md
  docs/extensions/eventsourcing/aggregates.md
  docs/extensions/eventsourcing/event-store.md
  docs/extensions/eventsourcing/index.md
  docs/extensions/eventsourcing/projections.md
  docs/extensions/eventsourcing/schema-evolution.md
  docs/extensions/eventsourcing/snapshots.md
  docs/extensions/eventsourcing/testing.md
  docs/extensions/lifecycle.md
  docs/extensions/validation.md
  docs/fundamentals/application.md
  docs/fundamentals/integrations.md
  docs/fundamentals/providers.md
  docs/fundamentals/testing.md
  docs/getting-started.md
  docs/index.md
Due: none

docs: restructure advanced section
  docs/advanced/di-patterns.md
  docs/advanced/di/conditional-providers.md
  docs/advanced/di/di-patterns.md
  docs/advanced/di/index.md
  docs/advanced/di/multi-bindings.md
  docs/assets/stylesheets/extra.css
  docs/extensions/custom-extensions.md
  docs/extensions/lifecycle.md
  docs/extensions/validation.md
  docs/fundamentals/modules.md
  docs/fundamentals/providers.md
  src/waku/di/__init__.py
  zensical.toml
Due: lint, typecheck-mypy, typecheck-ty

docs: refine introductions
  .github/changed-files-spec.yml
  README.md
  docs/code/getting_started/greetings/services.py
  docs/code/getting_started/users/services.py
  docs/getting-started.md
  docs/index.md
  zensical.toml
Due: lint, typecheck-mypy, typecheck-ty

docs: refine advanced section
  docs/advanced/di/conditional-providers.md
  docs/advanced/di/di-patterns.md
  docs/advanced/di/index.md
  docs/advanced/di/multi-bindings.md
  docs/assets/favicon.svg
  docs/fundamentals/providers.md
  zensical.toml
Due: none

docs: refine contributing
  CONTRIBUTING.md
  Taskfile.yml
  docs/contributing/contributing.md
  gitlint_plugins.py
Due: lint, typecheck-mypy, typecheck-ty

docs: add docs preview workflow
  .github/workflows/deploy-docs.yml
  .github/workflows/preview-docs.yml
Due: none

ci: skip bot authored PRs for claude code review workflow
  .github/workflows/claude-code-review.yml
Due: none

ci: use custom prompt for claude code review
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

feat: add event sourcing extension 4
  .typos.toml
  examples/eventsourcing/postgres/compose.yaml
  examples/eventsourcing/postgres/main.py
  examples/eventsourcing/postgres/pyproject.toml
  pyproject.toml
  src/waku/eventsourcing/snapshot/sqlalchemy/store.py
  src/waku/eventsourcing/snapshot/sqlalchemy/tables.py
  src/waku/eventsourcing/store/sqlalchemy/store.py
  src/waku/eventsourcing/store/sqlalchemy/tables.py
  tests/conftest.py
  tests/eventsourcing/conftest.py
  tests/eventsourcing/snapshot/conftest.py
  tests/eventsourcing/snapshot/test_sqlalchemy_snapshot_store.py
  tests/eventsourcing/store/conftest.py
  tests/eventsourcing/store/test_sqlalchemy_store.py
  tests/eventsourcing/test_sqlalchemy_modules.py
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

feat: add event sourcing extension 10
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/contracts/__init__.py
  src/waku/eventsourcing/contracts/event.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/store/_shared.py
  src/waku/eventsourcing/store/in_memory.py
  src/waku/eventsourcing/store/sqlalchemy/store.py
  tests/eventsourcing/store/conftest.py
  tests/eventsourcing/store/test_metadata_enrichment.py
  tests/eventsourcing/test_modules.py
Due: lint, typecheck-mypy, typecheck-ty

feat: add event sourcing extension
  .pre-commit-config.yaml
  .typos.toml
  README.md
  Taskfile.yml
  docs/assets/logo.png
  pyproject.toml
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/contracts/__init__.py
  src/waku/eventsourcing/contracts/aggregate.py
  src/waku/eventsourcing/contracts/event.py
  src/waku/eventsourcing/contracts/stream.py
  src/waku/eventsourcing/exceptions.py
  src/waku/eventsourcing/handler.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/repository.py
  src/waku/eventsourcing/store/__init__.py
  src/waku/eventsourcing/store/in_memory.py
  src/waku/eventsourcing/store/interfaces.py
  src/waku/eventsourcing/testing.py
  tests/eventsourcing/__init__.py
  tests/eventsourcing/test_aggregate.py
  tests/eventsourcing/test_contracts.py
  tests/eventsourcing/test_decider.py
  tests/eventsourcing/test_handler.py
  tests/eventsourcing/test_in_memory_store.py
  tests/eventsourcing/test_modules.py
  tests/eventsourcing/test_repository.py
  tests/eventsourcing/test_testing_dsl.py
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

feat: add event sourcing extension 11
  src/waku/cqrs/modules.py
  src/waku/cqrs/registry.py
  src/waku/eventsourcing/modules.py
  src/waku/validation/rules/_types_extractor.py
  uv.lock
Due: lint, typecheck-mypy, typecheck-ty

feat: add event sourcing extension 3
  examples/eventsourcing/basic_usage.py
  pyproject.toml
  src/waku/eventsourcing/__init__.py
  src/waku/eventsourcing/contracts/__init__.py
  src/waku/eventsourcing/contracts/aggregate.py
  src/waku/eventsourcing/contracts/event.py
  src/waku/eventsourcing/handler.py
  src/waku/eventsourcing/modules.py
  src/waku/eventsourcing/repository.py
  src/waku/eventsourcing/serialization/json.py
  src/waku/eventsourcing/snapshot/__init__.py
  src/waku/eventsourcing/snapshot/in_memory.py
  src/waku/eventsourcing/snapshot/repository.py
  src/waku/eventsourcing/snapshot/sqlalchemy/__init__.py
  src/waku/eventsourcing/snapshot/sqlalchemy/store.py
  src/waku/eventsourcing/snapshot/sqlalchemy/tables.py
  src/waku/eventsourcing/store/_version_check.py
  src/waku/eventsourcing/store/in_memory.py
  src/waku/eventsourcing/store/interfaces.py
  src/waku/eventsourcing/store/sqlalchemy/__init__.py
  src/waku/eventsourcing/store/sqlalchemy/store.py
  src/waku/eventsourcing/store/sqlalchemy/tables.py
  tests/eventsourcing/serialization/test_json_serializer.py
  tests/eventsourcing/snapshot/test_snapshot_repository.py
  tests/eventsourcing/snapshot/test_sqlalchemy_snapshot_store.py
  tests/eventsourcing/store/test_sqlalchemy_store.py
  tests/eventsourcing/test_handler.py
  tests/eventsourcing/test_modules.py
  tests/eventsourcing/test_repository.py
  tests/eventsourcing/test_sqlalchemy_modules.py
Due: uv-lock-check, lint, typecheck-mypy, typecheck-ty

feat(ext): add UpcasterChain with sparse chain model
  src/waku/eventsourcing/upcasting/__init__.py
  src/waku/eventsourcing/upcasting/chain.py
  tests/eventsourcing/upcasting/test_chain.py
Due: lint, typecheck-mypy, typecheck-ty
